    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    html {
        overflow-x: hidden;
        scroll-behavior: smooth;
        overflow-y: overlay;
    }

    /* Scrollbar*/

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(90, 90, 90);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(139, 139, 139);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }


    /* Блок 1 – Logo & Header */

    .header {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        position: relative;
        text-align: center;
    }

    /* header background  */

    .parallax-img1 {
        background-color: #fff;
        height: 100%;
        position: relative;
    }

    /* header logo */

    .langLogoMenu {
        position: absolute;
        width: 100%;
        top: 8%;
    }

    .logo,
    .logo-menu {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 8%;
    }

    .logo img,
    .logo-menu img {
        width: 144px;
        height: 35px;
        left: 0;
        right: 0;
        margin: auto;
    }

    /* LANGUAGE SELECTOR */

    .language-container-mobile {
        display: none;
    }

    .language-container {
        position: absolute;

        left: 5%;
    }

    .language-container:focus {
        outline: none;
        box-shadow: none;
    }

    .lang-btn:focus {
        outline: none;
        box-shadow: none;
    }

    .lang-btn {
        padding: 0 5px 0 0;
    }

    .lang-btn h5 {
        color: #ccc;
        margin: 0;
        font-size: 1rem;
    }

    .lang-btn:nth-child(1) {
        border-right: 2px solid #ccc;
        border-radius: 0;
    }

    /* meni ikonce - fiksirana za header */

    .bar1-fixed,
    .bar2-fixed,
    .bar3-fixed {
        width: 24px;
        height: 4px;
        background-color: #000;
        margin: 3px 0;
        transition: 0.4s;
    }

    /* header text */

    .header-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 35%;
        text-align: center;
        color: #000;
        margin: auto;
    }

    .noFillHeader {
        font-size: 90px;
        font-weight: 900;
        margin-bottom: 0;
        -webkit-text-stroke: 2px black;
        -webkit-text-fill-color: white;
        text-transform: uppercase;
    }

    .fillHeader {
        font-size: 90px;
        font-weight: 900;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    .header-text p {
        font-size: 21px;
    }

    /* header arrows - showing to scroll down */

    /* ARROWS TESTING */

    .scroll-down {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 20%;
        transition: transform 0.5s 1.5s, opacity 0.3s 1.7s, z-index 0.5s 1.5s;
        color: #000;
        text-align: center;
    }

    .scroll-down.removed {
        transform: translateY(-20rem);
        opacity: 0;
        z-index: -10;
        transition: transform 0.5s, opacity 0.3s 0.2s, z-index 0.5s;
    }

    .scroll-down:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -3rem;
        margin: auto;
        left: 0;
        right: 0;
        width: 1.25rem;
        height: 1.25rem;
        border: 0.25rem solid #000;
        border-left: none;
        border-top: none;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        animation: arrowMove 1.2s infinite;
    }

    @keyframes arrowMove {
        to {
            transform: rotate(45deg) translateY(2rem) translateX(2rem);
            opacity: 0;
        }
    }

    @keyframes navArrowMove {
        to {
            transform: translateX(2rem);
            opacity: 0;
        }
    }

    /* FULL SCREEN WEB MENU */

    /* menu selection */

    .overlayWeb {
        display: none;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);

        z-index: 5;
    }

    .menu-container {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: table;
        width: 100%;
    }

    .menu {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    .rows {
        text-align: center;
    }

    .rows a {
        display: inline-block;
        width: 210px;
        height: 210px;
        border: 1px solid #ccc;
        text-decoration: none;
        color: inherit;
        margin: 25px 25px;
        text-align: center;
    }

    .rows a:hover {
        border: none;
    }

    .menu-option {
        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;
    }

    .menu-option h4 {
        font-size: 25px;
        font-weight: bold;
    }

    .h4Div {
        top: 40%;
        width: 100%;
        color: black;
        position: absolute;
    }

    .h4Div-correction {
        top: 35%;
    }

    .h4Div h4 {
        margin: auto;
    }

    @media (max-height: 769px) {
        .rows a {
            width: 160px;
            height: 160px;
            margin: 10px 10px;
        }

        .h4Div h4 {
            font-size: 19px;
        }
    }

    /* MENU ANIMATIONS */

    .menu-link {
        position: relative;
    }

    .menu-link:hover {
        cursor: pointer;
    }

    .menu-anim {
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    .menu-anim video {
        width: 100%;
        height: 100%;
    }

    /* Home button */

    .homeBtn {
        position: absolute;
        top: 8%;
        left: 5%;
    }

    .btn-home {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: #9D9D9D;
    }

    .btn-home:hover {
        color: #9D9D9D;
    }

    .btn-home:focus {
        box-shadow: none;
    }

    .homeBtn button:focus {
        outline: none;
    }

    .homeBtn button img {
        margin-right: 6px;
        margin-bottom: 3px;
    }

    /* menu icon web */

    .menu-icon-black {
        float: right;
    }

    .menu-icon-black:hover {
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
    }

    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .bar2 {
        opacity: 0;
    }

    .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-10px, -6px);
    }

    .menu-black {
        background-color: #000;
    }

    /* FULL SCREEN WEB MENU END */

    /* menu droping effect */

    .menu-active {
        color: #0062A3 !important;
    }

    .menu-icon-button {
        background: none;
        border: none;
    }

    .menu-icon-button:focus {
        outline: none;
    }

    .menu-icon-button:hover {
        cursor: pointer;
    }

    .menu-icon {
        cursor: pointer;
        position: absolute;
        top: 8%;
        right: 5%;
    }

    .menu-icon-mobile {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 8%;
        right: 5%;
    }

    .bar1-mobile,
    .bar2-mobile,
    .bar3-mobile {
        width: 24px;
        height: 4px;
        background-color: #000;
        margin: 3px 0;
        transition: 0.4s;
    }

    .change .bar1-mobile {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2-mobile {
        opacity: 0;
    }

    .change .bar3-mobile {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-10px, -6px);
    }

    .overlay {
        display: block;
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow-y: hidden;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        width: fit-content;
        left: 0;
        right: 0;
        margin: auto;
    }

    .overlay .menu-link {
        padding: 8px;
        border-bottom: 1px solid black;
        font-size: 18px;
        font-weight: 900;
        color: #000;
        display: block;
        transition: 0.3s;
        margin: auto;
    }

    .overlay .menu-link:nth-child(9) {
        border-bottom: none;
    }

    .overlay .menu-link:hover,
    .overlay .menu-link:focus {
        text-decoration: none;
        color: #0062A3;
    }

    .overlay .closebtn {
        color: black;
        text-decoration: none;
        position: absolute;
        top: 16px;
        right: 20px;
        font-size: 55px;
    }

    /* MOBILE MENU HEIGHT RESPONSIVNES  */

    @media screen and (max-height: 525px) {
        .overlay-content {
            top: 15%;
        }

        .overlay .menu-link {
            padding: 6px;
            font-size: 16px;
        }
    }

    @media screen and (max-height: 480px) {
        .overlay {
            overflow: auto;
        }
    }

    @media screen and (max-height: 370px) {
        .overlay {
            overflow: auto;
        }
    }

    /* MAIN-NEWS-SECTION  */

    .main-news-section-mobile {
        display: none;
    }

    .main-news-section-web {
        margin: 80px 0;
    }

    .main-news-text {
        position: relative;
        padding: 0 45px;
    }

    .main-news-img img {
        width: 100%;
    }

    .news-date-black-square {
        font-weight: 900;
    }

    .news-h {
        font-size: 50px;
        font-weight: 900;
    }

    .news-p {
        color: #ccc;
        font-weight: 900;
    }

    .btn-news-web {
        position: absolute;
        left: 45px;
        bottom: 0;
        width: 320px;
        height: 46px;
        font-size: 20px;
        text-decoration: none;
        background-color: #0062A3;
        color: #fff;
        font-weight: bold;
        border-radius: 50px;
    }

    .btn-news-web:hover {
        color: #fff;
    }

    /* POSTED NEWS  */

    /* news - small squares before date */

    .posted-news-row {
        margin-bottom: 30px;
    }

    .news-black-square {
        width: 10px;
        height: 10px;
        background-color: #000;
        display: inline-block;
        margin-right: 5px;
    }

    .posted-news-container img {
        width: 100%;
    }

    .posted-news-link {
        color: unset;
    }

    .posted-news-link:hover {
        color: unset;
        text-decoration: none;
    }

    .news-project-text .news-h {
        font-size: 20px;
        font-weight: 900;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .news-project-text .news-p {
        color: #ccc;
        font-size: 18px;
        font-weight: 900;
    }

    .news-btn {
        text-align: center;
        margin: 120px 0;
    }

    .btn-posted-news {
        text-align: center;
        width: 220px;
        height: 46px;
        font-size: 20px;
        text-decoration: none;
        background-color: #0062A3;
        color: #fff;
        font-weight: bold;
        border-radius: 0px;
    }

    .btn-posted-news:hover {
        color: #fff;
    }

    /* FOOTER  */

    .footer {
        text-align: center;
    }

    .footer hr {
        background: #000;
        height: 1px;
    }

    .copyright p {
        font-weight: bold;
        font-size: 12px;
    }

    .footer-link {
        cursor: pointer;
        text-decoration: underline;
        color: #000;
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 1800px) {
        .header-text {
            top: 33%;
        }

        .noFillHeader,
        .fillHeader {
            font-size: 85px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 1700px) {
        .header-text {
            top: 30%;
        }

        .noFillHeader,
        .fillHeader {
            font-size: 80px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 1600px) {

        .noFillHeader,
        .fillHeader {
            font-size: 70px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------ */

    @media screen and (max-width: 1200px) {

        /* Block 2 - Menu */
        .rows a {
            width: 150px;
            height: 150px;
            margin: 10px 10px;
        }

        .h4Div {
            top: 48%;
        }

        .h4Div h4 {
            line-height: 0px;
            font-size: 18px;
        }

        .h4Div-correction {
            top: 33%;
        }

        .h4Div-correction h4 {
            line-height: 24px;
        }

    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 1191px) {
        .header-text {
            top: 35%;
        }

        .noFillHeader,
        .fillHeader {
            font-size: 50px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 991px) {

        /* LOGO */
        /*   .logo img,
        .logo-menu img {
            width: 200px;
            height: 50px;
        } */

        .overlay a {
            padding: 4px;
            font-size: 18px;
        }

        .down-arrow-top {
            width: 10px;
            height: 10px;
        }

        .down-arrow-middle {
            width: 10px;
            height: 10px;
        }

        .down-arrow-bottom {
            width: 10px;
            height: 10px;
        }

        /* MAIN NEWS */
        .news-h {
            font-size: 30px;
        }

        .news-p {
            font-size: 16px;
        }

        .btn-news-web {
            width: 200px;
            height: 32px;
            font-size: 14px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 768px) {
        .overlay .closebtn {
            position: absolute;
            right: 7%;
            top: 4%;
            font-size: 50px;
        }

        .menu-icon {
            display: none;
        }

        .menu-icon-mobile {
            display: block;
        }

        /* LANGUAGE SELECTOR */
        .language-container {
            display: none;
        }

        .language-container-mobile {
            display: unset;
            margin-left: -10px;
        }

        .language-container-mobile:focus {
            outline: none;
            box-shadow: none;
        }

        .lang-btn-mobile:focus {
            outline: none;
            box-shadow: none;
        }

        .lang-btn-mobile {
            padding: 0 !important;
        }

        .lang-btn-mobile h5 {
            color: #ccc;
            margin: 0;
            font-size: 16px;
        }

        .lang-mk-mobile {
            padding: 0 6px 0 0;
        }

        .lang-btn-mobile:nth-child(1) {
            border-right: 2px solid #ccc;
            border-radius: 0;
        }

        .header-text {
            top: 30%;
        }

        .noFillHeader,
        .fillHeader {
            font-size: 45px;
        }

        .down-arrows {
            bottom: 15%;
        }

        /* MAIN NEWS  */
        .main-news-section-web {
            display: none;
        }

        .main-news-section-mobile {
            display: block;
            margin: 60px 0;
        }

        .main-news-img-mobile {
            position: relative;
        }

        .main-news-img-mobile img {
            width: 100%;
        }

        .main-news-text-mobile {
            margin: 3% 0 10%;
            padding: 0 5%;
        }

        .news-h-mobile {
            font-size: 40px;
            font-weight: 900;
        }

        .news-p-mobile {
            margin-bottom: 10px;
            font-size: 22px;
            font-weight: 900;
            color: #ccc;
        }

        .news-p {
            margin: 0;
        }

        .news-date-black-square-mobile {
            font-size: 22px;
            font-weight: 900;
        }

        .btn-news-mobile img {
            height: 60px;
            width: 60px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
        }

        /* .btn-news-mobile {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #0062A3;
            color: #fff;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
        } */
        /* POSTED NEWS */
        .news-project-text {
            margin: 5% 0;
        }

        .news-project-text .news-h {
            font-size: 30px;
        }

        .news-project-text .news-p,
        .news-date-black-square {
            font-size: 20px;
        }

        .posted-news-row {
            margin: 0;
        }

        /* FOOTER */
        .copyright p {
            font-size: 10px;
        }

        .policy-section {
            margin-bottom: 15%;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 700px) {
        .overlay .closebtn {
            position: absolute;
            right: 7%;
            top: 4%;
            font-size: 50px;
        }
    }

    /* -----------------------MEDIA QUERIES-------------------------------------------------------------------------- */

    @media screen and (max-width: 576px) {

        /*    .logo img,
        .logo-menu img {
            width: 160px;
            height: 40px;
        } */
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 500px) {

        /* MAIN NEWS */
        .news-h-mobile {
            font-size: 32px;
        }

        .news-date-black-square-mobile {
            font-size: 20px;
        }

        /* POSTED NEWS */
        .news-project-text .news-h {
            font-size: 28px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 420px) {
        .overlay .closebtn {
            position: absolute;
            right: 1%;
            top: 2%;
            font-size: 50px;
        }

        .noFillHeader,
        .fillHeader {
            font-size: 40px;
        }

        .noFillHeader {
            -webkit-text-stroke: 1px black;
        }

        .news-btn {
            text-align: center;

        }

        .btn-posted-news {
            width: 100%;
            height: 50px;
            font-size: 26px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 375px) {
        .overlay .closebtn {
            position: absolute;
            right: 0%;
            top: 2%;
            font-size: 50px;
        }

        /* MAIN NEWS */
        .news-h-mobile {
            font-size: 24px;
        }

        .news-p-mobile {
            font-size: 20px;
        }

        .news-date-black-square-mobile {
            font-size: 18px;
        }

        /* POSTED NEWS */
        .news-project-text .news-h {
            font-size: 22px;
        }

        .news-project-text .news-p,
        .news-date-black-square {
            font-size: 18px;
        }

        .news-btn {
            text-align: center;

        }

        .btn-posted-news {
            width: 100%;
            height: 50px;
            font-size: 26px;
        }
    }

    /* ALL BUTTONS CLASS */

    .all-btn {
        background-color: #0062A3;
        color: #fff;
        padding: 8px 16px;
        border-radius: 32px;
        font-size: 20px;
        font-weight: 500;
        width: unset;
        height: unset;
        line-height: unset;
    }

    .all-btn:hover {
        color: #fff;
    }

    .all-btn:focus {
        box-shadow: none;
    }