    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    html {
        overflow-x: hidden;
        scroll-behavior: smooth;
        overflow-y: overlay;
    }

    /* Scrollbar*/

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(90, 90, 90);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(139, 139, 139);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }


    /* Блок 1 – Logo & Header */

    .header {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        position: relative;
        text-align: center;
    }

    /* header background  */

    .parallax-img1 {
        background-color: #fff;
        height: 100%;
        position: relative;
    }

    /* header logo */

    /* header logo */

    .langLogoMenu {
        position: absolute;
        width: 100%;
        top: 8%;
    }

    .logo,
    .logo-menu {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 8%;
    }

    .logo img,
    .logo-menu img {
        width: 144px;
        height: 35px;
        left: 0;
        right: 0;
        margin: auto;
    }

    /* LANGUAGE SELECTOR */

    .language-container-mobile {
        display: none;
    }

    .language-container {
        position: absolute;

        left: 5%;
    }

    .language-container:focus {
        outline: none;
        box-shadow: none;
    }

    .lang-btn:focus {
        outline: none;
        box-shadow: none;
    }

    .lang-btn {
        padding: 0 5px 0 0;
    }

    .lang-btn h5 {
        color: #ccc;
        margin: 0;
        font-size: 1rem;
    }

    .lang-btn:nth-child(1) {
        border-right: 2px solid #ccc;
        border-radius: 0;
    }

    /* meni ikonce - fiksirana za header */

    .bar1-fixed,
    .bar2-fixed,
    .bar3-fixed {
        width: 24px;
        height: 4px;
        background-color: #000;
        margin: 3px 0;
        transition: 0.4s;
    }

    /* header text */

    .header-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 35%;
        text-align: center;
        color: #000;
        margin: auto;
    }

    .noFillHeader {
        font-size: 90px;
        font-weight: 900;
        margin-bottom: 0;
        -webkit-text-stroke: 2px black;
        -webkit-text-fill-color: white;
        text-transform: uppercase;
    }

    .fillHeader {
        font-size: 90px;
        font-weight: 900;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    .header-text p {
        font-size: 21px;
    }

    /* header arrows - showing to scroll down */

    /* ARROWS TESTING */

    .scroll-down {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 20%;
        transition: transform 0.5s 1.5s, opacity 0.3s 1.7s, z-index 0.5s 1.5s;
        color: #000;
        text-align: center;
    }

    .scroll-down.removed {
        transform: translateY(-20rem);
        opacity: 0;
        z-index: -10;
        transition: transform 0.5s, opacity 0.3s 0.2s, z-index 0.5s;
    }

    .scroll-down:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -3rem;
        margin: auto;
        left: 0;
        right: 0;
        width: 1.25rem;
        height: 1.25rem;
        border: 0.25rem solid #000;
        border-left: none;
        border-top: none;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        animation: arrowMove 1.2s infinite;
    }

    @keyframes arrowMove {
        to {
            transform: rotate(45deg) translateY(2rem) translateX(2rem);
            opacity: 0;
        }
    }

    @keyframes navArrowMove {
        to {
            transform: translateX(2rem);
            opacity: 0;
        }
    }

    /* menu droping effect */

    .menu-active {
        color: #0062A3 !important;
    }

    .menu-icon-button {
        background: none;
        border: none;
    }

    .menu-icon-button:focus {
        outline: none;
    }

    .menu-icon-button:hover {
        cursor: pointer;
    }

    .menu-icon {
        cursor: pointer;
        position: absolute;
        top: 8%;
        right: 5%;
    }

    .menu-icon-mobile {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 8%;
        right: 5%;
    }

    .bar1-mobile,
    .bar2-mobile,
    .bar3-mobile {
        width: 24px;
        height: 4px;
        background-color: #000;
        margin: 3px 0;
        transition: 0.4s;
    }

    .change .bar1-mobile {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2-mobile {
        opacity: 0;
    }

    .change .bar3-mobile {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-10px, -6px);
    }

    .overlay {
        display: block;
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow-y: hidden;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        width: fit-content;
        left: 0;
        right: 0;
        margin: auto;
    }

    .overlay .menu-link {
        padding: 8px;
        border-bottom: 1px solid black;
        font-size: 18px;
        font-weight: 900;
        color: #000;
        display: block;
        transition: 0.3s;
        margin: auto;
    }

    .overlay .menu-link:nth-child(9) {
        border-bottom: none;
    }

    .overlay .menu-link:hover,
    .overlay .menu-link:focus {
        text-decoration: none;
        color: #0062A3;
    }

    .overlay .closebtn {
        color: black;
        text-decoration: none;
        position: absolute;
        top: 16px;
        right: 20px;
        font-size: 55px;
    }

    /* MOBILE MENU HEIGHT RESPONSIVNES  */

    @media screen and (max-height: 525px) {
        .overlay-content {
            top: 15%;
        }

        .overlay .menu-link {
            padding: 6px;
            font-size: 16px;
        }
    }

    @media screen and (max-height: 480px) {
        .overlay {
            overflow: auto;
        }
    }

    @media screen and (max-height: 370px) {
        .overlay {
            overflow: auto;
        }

        .overlay-content {
            top: 15%;
        }
    }

    /* FULL SCREEN WEB MENU */

    /* menu selection */

    .overlayWeb {
        display: none;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);

        z-index: 5;
    }

    .menu-container {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: table;
        width: 100%;
    }

    .menu {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    .rows {
        text-align: center;
    }

    .rows a {
        display: inline-block;
        width: 210px;
        height: 210px;
        border: 1px solid #ccc;
        text-decoration: none;
        color: inherit;
        margin: 25px 25px;
        text-align: center;
    }

    .rows a:hover {
        border: none;
    }

    .menu-option {
        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;
    }

    .menu-option h4 {
        font-size: 25px;
        font-weight: bold;
    }

    .h4Div {
        top: 40%;
        width: 100%;
        color: black;
        position: absolute;
    }

    .h4Div-correction {
        top: 35%;
    }

    .h4Div h4 {
        margin: auto;
    }

    @media (max-height: 769px) {
        .rows a {
            width: 160px;
            height: 160px;
            margin: 10px 10px;
        }

        .h4Div h4 {
            font-size: 19px;
        }
    }

    /* MENU ANIMATIONS */

    .menu-link {
        position: relative;
    }

    .menu-link:hover {
        cursor: pointer;
    }

    .menu-anim {
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    .menu-anim video {
        width: 100%;
        height: 100%;
    }

    /* Home button */

    .homeBtn {
        position: absolute;
        top: 8%;
        left: 5%;
    }

    .btn-home {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: #9D9D9D;
    }

    .btn-home:hover {
        color: #9D9D9D;
    }

    .btn-home:focus {
        box-shadow: none;
    }

    .homeBtn button:focus {
        outline: none;
    }

    .homeBtn button img {
        margin-right: 6px;
        margin-bottom: 3px;
    }

    /* menu icon web */

    .menu-icon-black {
        float: right;
    }

    .menu-icon-black:hover {
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
    }

    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .bar2 {
        opacity: 0;
    }

    .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-10px, -6px);
    }

    .menu-black {
        background-color: #000;
    }

    /* FULL SCREEN WEB MENU END */


    /* Thousand separator  */

    @property --percent {
        syntax: "<number>";
        initial-value: 0;
        inherits: false;
    }

    @property --temp {
        syntax: "<number>";
        initial-value: 0;
        inherits: false;
    }

    @property --v1 {
        syntax: "<integer>";
        initial-value: 0;
        inherits: false;
    }

    @property --v2 {
        syntax: "<integer>";
        initial-value: 0;
        inherits: false;
    }

    .elvis {
        font: 800;
        transition: --percent 1s;
        --temp: calc(var(--percent) * 100);
        --v1: max(var(--temp) - 0.5, 0);
        --v2: max((var(--temp) - var(--v1)) * 100 - 0.5, 0);
        counter-reset: v1 var(--v1) v2 var(--v2);
    }

    .elvis::before {
        content: counter(v1) "."counter(v2, decimal-leading-zero)'0';
    }

    /* Thousand separator  */

    /* FACTS NUMBER */

    .facts-section {
        margin: 120px 0;
    }

    .facts-founded,
    .facts-area,
    .facts-projects {
        border-bottom: 3px solid black;
        text-align: center;
    }

    .facts-no,
    .facts-area,
    .facts-projects {
        font-size: 34px;
        font-weight: 900;
    }

    .facts-text {
        color: #000;
        font-weight: 100;
    }

    /* COMPANY ABOUT TEXT */

    .about-text-p {
        text-align: justify;
    }

    /* PROFILE PICTURES */

    .profile-pictures-section {
        margin: 120px 0;
    }

    .profile-pictures-container {
        padding: 0;
    }

    .profile-pictures-section-mobile {
        display: none;
    }

    .profile-pictures-row {
        margin-bottom: 7%;
    }

    .profile-picture {
        background-image: url("../img/company-profile/prof-img.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 300px;
        width: 300px;
    }

    .team-picture {
        width: 300px;
        height: 300px;
        border: 2px solid black;
    }

    .your-picture {
        background-image: url("../img/company-profile/your-name.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 300px;
        width: 300px;
    }

    .profile-picture-text {
        text-align: center;
        margin-top: 70%;
    }

    .profile-picture-name {
        color: #fff;
        font-size: 24px;
    }

    .profile-picture-position {
        color: #cccccc;
        font-size: 16px;
    }

    .team-picture-text {
        text-align: center;
        margin-top: 35%;
    }

    .team-text {
        font-weight: 900;
        font-size: 45px;
        margin: 0;
    }

    /* MISSION & VISION */

    .mission-container-text {
        margin-bottom: 10%;
    }

    .mission-heading {
        text-align: center;
        font-size: 45px;
        font-weight: 900;
        margin-bottom: 6%;
    }

    .mission-p {
        text-align: justify;
    }

    /* HISTORY */

    .history-section {
        margin: 120px 0;
    }

    .history-container-text {
        margin-bottom: 7%;
    }

    .history-heading {
        text-align: center;
        font-size: 45px;
        font-weight: 900;
        margin-bottom: 6%;
    }

    .history-p {
        text-align: justify;
    }

    /* AWARDS */

    .awards-container-text {
        margin-bottom: 7%;
    }

    .awards-heading {
        text-align: center;
        font-size: 45px;
        font-weight: 900;
        margin-bottom: 6%;
    }

    .awards-p {
        text-align: center;
    }

    /*GALLERY*/

    .awards-gallery {
        text-align: center;
    }

    as d .profile-info-container-web-gallery {
        margin-top: 3%;
        height: 400px;
    }

    .profile-info-gallery-web {
        text-align: center;
    }

    .profile-info-gallery-web img {
        height: 600px;
    }

    .profile-gallery-buttons {
        position: relative;
        margin-top: 3%;
    }

    .carousel-control-prev {
        left: 42%;
        height: 40px;
        width: 40px;
        border: 3px solid black;
        position: absolute;
        opacity: 1;
        margin-top: -4px;
    }

    .carousel-control-next {
        right: 42%;
        height: 40px;
        width: 40px;
        border: 3px solid black;
        position: absolute;
        opacity: 1;
        margin-top: -4px;
    }

    .num {
        color: #adadad;
    }

    #slidetext1 {
        color: #000;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        color: #000;
    }

    .carousel-control-prev img,
    .carousel-control-next img {
        height: 23px;
    }

    #slidetext {
        font-size: 26px;
        padding-top: 0px;
    }

    .carousel-indicators {
        display: none;
    }

    /* LICENSES */

    .licenses-section {
        margin: 120px 0;
    }

    .licenses-section-mobile {
        display: none;
    }

    .licenses-container-text {
        margin-bottom: 7%;
    }

    .licenses-heading {
        text-align: center;
        font-size: 45px;
        font-weight: 900;
        margin-bottom: 6%;
    }

    /* LICENSES Galery
http://www.landmarkmlp.com/js-plugin/owl.carousel/demos/full.html
https://www.youtube.com/watch?v=1LZngKzUOoY&ab_channel=RootSploit
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_lightbox*/

    .owl-dots {
        display: none;
    }

    .owl-carousel .owl-nav button.owl-prev {
        position: absolute;
        font-size: 60px;
        left: -5%;
        top: 25%;
    }

    .owl-carousel .owl-nav.disabled {
        display: revert;
    }

    .owl-carousel .owl-nav button.owl-next {
        position: absolute;
        font-size: 60px;
        right: -5%;
        top: 25%;
    }

    .owl-carousel .owl-nav button.owl-prev:hover {
        background: none;
        color: inherit;
        text-decoration: none;
    }

    .owl-carousel .owl-nav button.owl-prev:focus {
        outline: none;
    }

    .owl-carousel .owl-nav button.owl-next:hover {
        background: none;
        color: inherit;
        text-decoration: none;
    }

    .owl-carousel .owl-nav button.owl-next:focus {
        outline: none;
    }

    .owl-item img {
        filter: gray;
        -webkit-filter: grayscale(1);
    }

    .owl-item img:hover {
        cursor: pointer;
        filter: none;
    }

    /* LIGHTBOX GALLERY TEST
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_lightbox */

    /* The Modal (background)
 */

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding: 8% 0;
        left: 0;
        top: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.3);
        max-height: 100%;
        box-sizing: border-box;
    }

    /* Modal Content */

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 70%;
        text-align: center;
        padding: 10%;
        max-height: 100%;
    }

    /* The Close Button */

    .close {
        color: black;
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
        opacity: 0.9;
    }

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

    .mySlides {
        display: none;
    }

    .cursor {
        cursor: pointer;
    }

    /* Next & previous buttons */

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 50px;
        transition: 0.6s ease;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */

    .next {
        right: 40px;
    }

    .prev {
        left: 40px;
    }

    /* On hover, add a black background color with a little bit see-through */

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: white !important;
    }

    /* Number text (1/3 etc)

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
*/

    img {
        margin-bottom: 0;
    }

    /*
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
} */

    /* FOOTER  */

    .footer {
        text-align: center;
    }

    .footer hr {
        width: 112%;
        margin-left: -6%;
        background: #000;
        height: 1px;
    }

    .copyright p {
        font-weight: bold;
        font-size: 12px;
    }

    .footer-link {
        cursor: pointer;
        text-decoration: underline;
        color: #000;
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 1800px) {
        .header-text {
            top: 33%;
        }

        .noFillHeader,
        .fillHeader {
            font-size: 80px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 1700px) {
        .header-text {
            top: 30%;
        }

        .noFillHeader,
        .fillHeader {
            font-size: 70px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 1600px) {

        .noFillHeader,
        .fillHeader {
            font-size: 60px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 1300px) {

        /* AWARDS */
        .carousel-control-prev {
            left: 42%;
        }

        .carousel-control-next {
            right: 42%;
        }

        /* LICENSES AND AUTHORIZATIONS */
        .owl-carousel {
            width: 80%;
        }

        .owl-carousel .owl-nav button.owl-next {
            right: -10%;
            top: 25%;
        }

        .owl-carousel .owl-nav button.owl-prev {
            position: absolute;
            font-size: 60px;
            left: -10%;
            top: 30%;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------ */

    @media screen and (max-width: 1200px) {

        /* Block 2 - Menu */
        .rows a {
            width: 150px;
            height: 150px;
            margin: 10px 10px;
        }

        .h4Div {
            top: 48%;
        }

        .h4Div h4 {
            line-height: 0px;
            font-size: 18px;
        }

        .h4Div-correction {
            top: 33%;
        }

        .h4Div-correction h4 {
            line-height: 24px;
        }

    }


    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 1191px) {
        .header-text {
            top: 35%;
        }

        .noFillHeader,
        .fillHeader {
            font-size: 40px;
        }

        /* AWARDS */
        .carousel-control-prev {
            left: 42%;
        }

        .carousel-control-next {
            right: 42%;
        }

        .footer hr {
            width: 100%;
            margin-left: 0;
        }

        /* LICENSES AND AUTHORIZATIONS */
        .owl-carousel {
            width: 80%;
        }

        .owl-carousel .owl-nav button.owl-next {
            right: -10%;
            top: 25%;
        }

        .owl-carousel .owl-nav button.owl-prev {
            position: absolute;
            font-size: 60px;
            left: -10%;
            top: 30%;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 991px) {

        /* LOGO */
        /*    .logo img,
        .logo-menu img {
            width: 200px;
            height: 50px;
        } */

        .noFillHeader,
        .fillHeader {
            font-size: 30px;
        }

        .overlay a {
            padding: 4px;
            font-size: 18px;
        }

        /* FACTS  */
        .facts-section {
            margin: 60px 0 120px;
        }

        .facts-text {
            font-size: 21px;
        }

        /* ABOUT TEXT  */
        .about-text-container p {
            font-size: 18px;
        }

        /* PROFILE PICTURES  */
        .profile-picture {
            height: 200px;
            width: 200px;
        }

        .profile-picture-name {
            font-size: 18px;
        }

        .profile-picture-position {
            font-size: 14px;
        }

        .team-picture {
            width: 200px;
            height: 200px;
        }

        .team-text {
            font-size: 30px;
        }

        .your-picture {
            height: 200px;
            width: 200px;
        }

        /* MISSION & VISION */
        .mission-heading {
            font-size: 40px;
        }

        .mission-p {
            font-size: 18px;
        }

        /* HISTORY */
        .history-heading {
            font-size: 40px;
        }

        .history-p {
            font-size: 18px;
        }

        /* AWARDS */
        .awards-heading {
            font-size: 40px;
        }

        .awards-p {
            font-size: 18px;
        }

        .awards-galery img {
            width: 300px;
        }

        .carousel-control-prev img,
        .carousel-control-next img {
            height: 20px;
        }

        .carousel-control-prev {
            height: 30px;
            left: 40%;
            height: 40px;
            width: 40px;
        }

        .carousel-control-next {
            height: 30px;
            right: 40%;
            height: 40px;
            width: 40px;
        }

        /* LICENSES AND AUTHORIZATIONS */

        .licenses-heading {
            font-size: 40px;
        }

        .owl-carousel {
            width: 65%;
        }

        .owl-carousel .owl-nav button.owl-next {
            right: -10%;
            top: 30%;
        }

        .owl-carousel .owl-nav button.owl-prev {
            position: absolute;
            font-size: 60px;
            left: -10%;
            top: 30%;
        }

        .footer hr {
            width: 100%;
            margin-left: 0;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 768px) {
        .overlay .closebtn {
            position: absolute;
            right: 7%;
            top: 4%;
            font-size: 50px;
        }

        .menu-icon {
            display: none;
        }

        .menu-icon-mobile {
            display: block;
        }

        /* LANGUAGE SELECTOR */
        .language-container {
            display: none;
        }

        .language-container-mobile {
            display: unset;
            margin-left: -10px;
        }

        .lang-btn-mobile {
            padding: 0 !important;
        }

        .language-container-mobile:focus {
            outline: none;
            box-shadow: none;
        }

        .lang-btn-mobile:focus {
            outline: none;
            box-shadow: none;
        }

        .lang-btn-mobile h5 {
            color: #ccc;
            margin: 0;
            font-size: 16px;
        }

        .lang-mk-mobile {
            padding: 0 6px 0 0;
        }

        .lang-btn-mobile:nth-child(1) {
            border-right: 2px solid #ccc;
            border-radius: 0;
        }

        .noFillHeader,
        .fillHeader {
            font-size: 28px;
        }

        .down-arrows {
            bottom: 15%;
        }

        .copyright p {
            font-size: 10px;
        }

        .policy-section {
            margin-bottom: 15%;
        }

        /* FACTS */
        .facts-row {
            margin: auto;
        }

        .facts-founded,
        .facts-area,
        .facts-projects {
            opacity: 0;
            border-bottom: 2px solid black;
            margin-bottom: 10%;
        }

        .facts-founded-appear,
        .facts-area-appear,
        .facts-projects-appear {
            opacity: 1;
            transition: 0.4s ease-in-out;
        }

        /* PROFILE PICTURES */
        .profile-pictures-section-mobile {
            display: block;
            margin: 120px 0;
        }

        .profile-pictures-section {
            display: none;
        }

        .similar-projects-web {
            margin-top: 15%;
        }

        .similar-project-row {
            display: none;
        }

        .container-flow-profile-slide {
            overflow: scroll;
        }

        .container-flow-profile-slide::-webkit-scrollbar {
            display: none;
        }

        .container-flow-profile-slide {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        .similar-project-row-mobile {
            display: revert;
            margin-right: -30000px;
            width: fit-content;
        }

        .similar-projects-selection-mobile {
            position: relative;
            display: block;
            float: left;
            margin: 0 20px;
        }

        .similar-project-image-mobile {
            background-image: url("../img/company-profile/prof-img.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 300px;
            width: 300px;
        }

        .profile-picture-text {
            padding-top: 75%;
            margin-top: 0%;
        }

        .profile-picture-text h6 {
            font-size: 20px;
        }

        .profile-picture-text p {
            font-size: 14px;
        }

        /* AWARDS */

        .awards-img {
            width: 100%;
        }


        .carousel-control-prev {
            height: 30px;
            left: 35%;
            height: 35px;
            width: 35px;
        }

        .carousel-control-next {
            height: 30px;
            right: 35%;
            height: 35px;
            width: 35px;
        }


        /* LICENSES AND AUTHORIZATIONS */
        .licenses-section-mobile {
            display: block;
            margin: 120px 0;
        }

        .licenses-section {
            display: none;
        }

        .container-flow-licenses-slide {
            overflow: scroll;
        }

        .container-flow-licenses-slide::-webkit-scrollbar {
            display: none;
        }

        .container-flow-licenses-slide {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        .similar-licenses-row-mobile {
            display: revert;
            margin-right: -30000px;
            width: fit-content;
        }

        .similar-licenses-selection-mobile {
            position: relative;
            display: block;
            float: left;
            margin: 0 20px;
        }

        /* MODAL  */
        .modal {
            background-color: rgba(255, 255, 255, 1);
        }

        .modal-content {
            border: none;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 700px) {
        .overlay .closebtn {
            position: absolute;
            right: 7%;
            top: 4%;
            font-size: 50px;
        }



        /* MODAL  */
        .modal {
            padding: 10% 0;
        }

        .modal-content {
            padding: 15%;
        }

        .mySlides img {
            width: 100%;
        }

        .close {
            top: -30px;
            right: 0px;
        }

        .prev {
            left: 25px;
            padding: 5px;
            top: 55%;
            font-size: 40px;
        }

        .next {
            right: 25px;
            padding: 5px;
            top: 55%;
            font-size: 40px;
        }
    }

    /* -----------------------MEDIA QUERIES-------------------------------------------------------------------------- */

    @media screen and (max-width: 576px) {
        /*
        .logo img,
        .logo-menu img {
            width: 160px;
            height: 40px;
        } */
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 550px) {

        .carousel-control-prev {
            height: 30px;
            left: 30%;
            height: 35px;
            width: 35px;
        }

        .carousel-control-next {
            height: 30px;
            right: 30%;
            height: 35px;
            width: 35px;
        }

        /* MODAL  */
        .modal {
            padding: 20% 0;
        }

        .modal-content {
            padding: 10%;
        }

        .mySlides img {
            width: 100%;
        }

        .close {
            top: -30px;
            right: 0px;
        }

        .prev {
            left: -15px;
            padding: 5px;
            top: 55%;
            font-size: 40px;
        }

        .next {
            right: -15px;
            padding: 5px;
            top: 55%;
            font-size: 40px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 420px) {
        .overlay .closebtn {
            position: absolute;
            right: 1%;
            top: 2%;
            font-size: 50px;
        }

        .noFillHeader,
        .fillHeader {
            font-size: 20px;
        }

        .noFillHeader {
            -webkit-text-stroke: 1px black;
        }

        /* MODAL  */
        .modal {
            padding: 40% 0;
        }

        .modal-content {
            padding: 0%;
        }

        .mySlides img {
            width: 100%;
        }

        .close {
            top: -30px;
            right: 0px;
        }

        .prev {
            left: -15px;
            padding: 5px;
            top: 60%;
            font-size: 30px;
        }

        .next {
            right: -15px;
            padding: 5px;
            top: 60%;
            font-size: 30px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 375px) {
        .overlay .closebtn {
            position: absolute;
            right: 0%;
            top: 2%;
            font-size: 50px;
        }

        .facts-row {
            width: 100%;
            margin: 0;
        }

        /* PROFILE PICTURES */
        .similar-project-image-mobile {
            height: 200px;
            width: 200px;
        }

        .profile-picture-text {
            padding-top: 70%;
        }

        .profile-picture-text h6 {
            font-size: 18px;
        }

        .profile-picture-text p {
            font-size: 12px;
        }

        /* MISSION  */
        .mission-heading {
            font-size: 28px;
            font-weight: 900;
        }

        .mission-container-text {
            margin-bottom: 25%;
        }

        /* HISTORY  */
        .history-heading {
            font-size: 28px;
            font-weight: 900;
        }

        /* AWARDS*/
        .awards-heading {
            font-size: 28px;
            font-weight: 900;
        }

        /* AWARDS GALLERY  */
        .profile-gallery-buttons {
            margin-top: 10%;
        }

        #slidetext {
            font-size: 20px;
            padding-top: 0px;
        }

        .carousel-control-prev {
            left: 30%;
            height: 30px;
            width: 30px;
        }

        .carousel-control-next {
            height: 30px;
            right: 30%;
            height: 30px;
            width: 30px;
        }

        /* LICENSES*/
        .modal {
            padding: 30% 0;
        }

        .licenses-heading {
            font-size: 28px;
            font-weight: 900;
        }

        .item img {
            width: 180px;
        }

        /* MODAL  */
        .modal-content {
            padding: 0%;
        }

        .mySlides img {
            width: 100%;
        }

        .close {
            top: -30px;
            right: 0px;
        }

        .prev {
            left: -15px;
            padding: 5px;
            top: 70%;
            font-size: 30px;
        }

        .next {
            right: -15px;
            padding: 5px;
            top: 70%;
            font-size: 30px;
        }
    }