    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    html {
        overflow-x: hidden;
        scroll-behavior: smooth;
        overflow-y: overlay;
    }

    /* Scrollbar*/

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(90, 90, 90);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(139, 139, 139);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }


    /* Блок 1 – Logo & Header */

    .header {
        height: 100vh;
        position: relative;
        text-align: center;
    }

    /* header background  */

    .parallax-img1 {
        background-color: #fff;
        height: 100%;
        position: relative;
    }

    /* header logo */

    .langLogoMenu {
        position: absolute;
        width: 100%;
        top: 8%;
    }

    .logo,
    .logo-menu {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 8%;
    }

    .logo img,
    .logo-menu img {
        width: 144px;
        height: 35px;
        left: 0;
        right: 0;
        margin: auto;
    }

    /* LANGUAGE SELECTOR */

    .language-container-mobile {
        display: none;
    }

    .language-container {
        position: absolute;

        left: 5%;
    }

    .language-container:focus {
        outline: none;
        box-shadow: none;
    }

    .lang-btn:focus {
        outline: none;
        box-shadow: none;
    }

    .lang-btn {
        padding: 0 5px 0 0;
    }

    .lang-btn h5 {
        color: #ccc;
        margin: 0;
        font-size: 1rem;
    }

    .lang-btn:nth-child(1) {
        border-right: 2px solid #ccc;
        border-radius: 0;
    }

    /* meni ikonce - fiksirana za header */

    .bar1-fixed,
    .bar2-fixed,
    .bar3-fixed {
        width: 24px;
        height: 4px;
        background-color: #000;
        margin: 3px 0;
        transition: 0.4s;
    }

    .menu-icon-button {
        background: none;
        border: none;
    }

    .menu-icon-button:focus {
        outline: none;
    }

    .menu-icon-button:hover {
        cursor: pointer;
    }

    /* header text */

    .header-text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40%;
        text-align: center;
        color: #000;
        width: 35%;
        margin: auto;
    }

    .header-text h1 {
        font-size: 90px;
        font-weight: 900;
        margin-bottom: 15px;
    }

    .header-text p {
        font-size: 21px;
        padding-top: 20px;
    }

    /* header arrows - showing to scroll down */

    /* ARROWS TESTING */

    .scroll-down {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 20%;
        transition: transform 0.5s 1.5s, opacity 0.3s 1.7s, z-index 0.5s 1.5s;
        color: #000;
        text-align: center;
    }

    .scroll-down.removed {
        transform: translateY(-20rem);
        opacity: 0;
        z-index: -10;
        transition: transform 0.5s, opacity 0.3s 0.2s, z-index 0.5s;
    }

    .scroll-down:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -3rem;
        margin: auto;
        left: 0;
        right: 0;
        width: 1.25rem;
        height: 1.25rem;
        border: 0.25rem solid #000;
        border-left: none;
        border-top: none;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        animation: arrowMove 1.2s infinite;
    }

    @keyframes arrowMove {
        to {
            transform: rotate(45deg) translateY(2rem) translateX(2rem);
            opacity: 0;
        }
    }

    @keyframes navArrowMove {
        to {
            transform: translateX(2rem);
            opacity: 0;
        }
    }

    /* menu droping effect */

    .menu-active {
        color: #0062A3 !important;
    }

    .menu-icon {
        cursor: pointer;
        position: absolute;
        top: 8%;
        right: 5%;
    }

    .menu-icon-mobile {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 8%;
        right: 5%;
    }

    .bar1-mobile,
    .bar2-mobile,
    .bar3-mobile {
        width: 24px;
        height: 4px;
        background-color: #000;
        margin: 3px 0;
        transition: 0.4s;
    }

    .change .bar1-mobile {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2-mobile {
        opacity: 0;
    }

    .change .bar3-mobile {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-10px, -6px);
    }

    .overlay {
        display: block;
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow-y: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 20%;
        text-align: center;
        width: fit-content;
        left: 0;
        right: 0;
        margin: auto;
    }

    .overlay .menu-link {
        padding: 8px;
        border-bottom: 1px solid black;
        font-size: 18px;
        font-weight: 900;
        color: #000;
        display: block;
        transition: 0.3s;
        margin: auto;
    }

    .overlay .menu-link:nth-child(9) {
        border-bottom: none;
    }

    .overlay .menu-link:hover,
    .overlay .menu-link:focus {
        text-decoration: none;
        color: #0062A3;
    }

    .overlay .closebtn {
        color: black;
        text-decoration: none;
        position: absolute;
        top: 16px;
        right: 20px;
        font-size: 55px;
    }

    /* FULL SCREEN WEB MENU */

    /* menu selection */

    .overlayWeb {
        display: none;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);

        z-index: 5;
    }

    .menu-container {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: table;
        width: 100%;
    }

    .menu {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    .rows {
        text-align: center;
    }

    .rows a {
        display: inline-block;
        width: 210px;
        height: 210px;
        border: 1px solid #ccc;
        text-decoration: none;
        color: inherit;
        margin: 25px 25px;
        text-align: center;
    }

    .rows a:hover {
        border: none;
    }

    .menu-option {
        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;
    }

    .menu-option h4 {
        font-size: 25px;
        font-weight: bold;
    }

    .h4Div {
        top: 40%;
        width: 100%;
        color: black;
        position: absolute;
    }

    .h4Div-correction {
        top: 35%;
    }

    .h4Div h4 {
        margin: auto;
    }

    @media (max-height: 769px) {
        .rows a {
            width: 160px;
            height: 160px;
            margin: 10px 10px;
        }

        .h4Div h4 {
            font-size: 19px;
        }
    }

    /* MENU ANIMATIONS */

    .menu-link {
        position: relative;
    }

    .menu-link:hover {
        cursor: pointer;
    }

    .menu-anim {
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    .menu-anim video {
        width: 100%;
        height: 100%;
    }

    /* Home button */

    .homeBtn {
        position: absolute;
        top: 8%;
        left: 5%;
    }

    .btn-home {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: #9D9D9D;
    }

    .btn-home:hover {
        color: #9D9D9D;
    }

    .btn-home:focus {
        box-shadow: none;
    }

    .homeBtn button:focus {
        outline: none;
    }

    .homeBtn button img {
        margin-right: 6px;
        margin-bottom: 3px;
    }

    /* menu icon web */

    .menu-icon-black {
        float: right;
    }

    .menu-icon-black:hover {
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
    }

    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .bar2 {
        opacity: 0;
    }

    .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-10px, -6px);
    }

    .menu-black {
        background-color: #000;
    }

    /* FULL SCREEN WEB MENU END */

    /* MOBILE MENU HEIGHT RESPONSIVNES  */
    @media screen and (max-height: 525px) {
        .overlay-content {
            top: 15%;
        }

        .overlay .menu-link {
            padding: 6px;
            font-size: 16px;
        }
    }

    @media screen and (max-height: 480px) {
        .overlay {
            overflow: auto;
        }
    }

    @media screen and (max-height: 370px) {
        .overlay {
            overflow: auto;
        }

        .overlay-content {
            top: 35%;
        }
    }

    /*FILTER*/

    .add-product {
        display: none;
    }

    /* .overlay-filter {
        display: none;
    }
     */

    .filter-web-container {
        text-align: center;
        width: 100%;
        height: 100px;
    }

    .filter-mobile-btn {
        display: none;
    }

    .filter-web-btn {
        background-color: #fff;
        border: 1px solid #0062A3;
        color: #0062A3;
        border-radius: 30px;
        width: 125px;
        height: 60px;
        font-size: 20px;
        padding: 15px;
    }

    .filter-web-btn:focus {
        box-shadow: none;
    }

    .filter-web-btn-grayed {
        border: 1px solid #ccc;
        color: #ccc;
        border-radius: 30px;
        width: 125px;
        height: 60px;
        font-size: 20px;
        padding: 15px;
        margin-bottom: 25px;
    }

    .filter-web-btn:focus,
    .filter-web-btn-grayed:focus {
        box-shadow: none;
    }

    .filter-web-btn:hover,
    .filter-web-btn-grayed:hover {
        background-color: #0062A3;
        color: #fff;
        border: none;
        transition: 0.5s;
    }

    .filter-web-btn:focus {
        box-shadow: none;
    }

    .filter-web-btn i,
    .filter-web-btn-grayed i {
        margin-left: 15px;
    }

    /* FILTER MENU  */

    .filter-menu-web-container {
        margin-top: 2px;
    }

    .filter-menu-web {
        display: none;
        margin: 0 auto;
    }

    .filter-menu-list {
        list-style: none;
        margin-bottom: 0;
    }

    .filter-menu-list li {
        display: inline;
        margin: 0 20px;
    }

    .filter-menu-list a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }

    .filter-menu-list a:hover {
        color: #0062A3;
    }

    .filter-type {
        pointer-events: none;
        opacity: 0.6;
    }

    /* PROJECTS */

    .construction-projects-container-mobile {
        display: none;
    }

    .construction-projects-container {
        margin-top: 3%;
    }

    .project-row {
        width: 100%;
        margin: 0;
    }

    .projects-selection {
        display: inline-block;
        padding: 0;
    }

    /* gray image */

    /* https://codepen.io/codewithJahid/pen/JRPvBj */

    .project-image img {
        width: 100%;
    }

    .project-image img {
        filter: gray;
        -webkit-filter: grayscale(1);
    }

    .project-image img:hover {
        filter: none;
    }

    .project-text {
        margin-top: -102px;
        color: #fff;
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .project-text h5 {
        font-size: 38px;
        font-weight: bold;
    }

    .project-text p {
        font-size: 22px;
        color: #cccccc;
    }

    .project-image a {
        text-decoration: none;
    }

    .projects-button {
        text-align: center;
    }

    .projects-btn {
        background-color: #0062A3;
        color: #fff;
        height: 50px;
        width: 240px;
        border-radius: 0px;
        margin-top: 5%;
        font-size: 22px;
    }

    .projects-btn:hover {
        color: #fff;
    }

    /* REST OF PROJECTS */

    .rest-of-projects {
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .architecture-section,
    .real-estate-section {
        text-align: center;
    }

    .architecture-section-img img {
        width: 100%;
        height: 100%;
    }

    .real-estate-section-img img {
        width: 100%;
        height: 100%;
    }

    .architecture-section-text,
    .real-estate-section-text {
        right: 0;
        position: absolute;
        left: 0;
        top: 40%;
    }

    .h1-projects {
        color: #fff;
        font-size: 70px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15%;
    }

    .projects-btn-rest {
        background-color: #0062A3;
        color: #fff;
        line-height: 35px;
        font-size: 22px;
        height: 50px;
        width: 235px;
        border-radius: 30px;
    }

    .projects-btn-rest:hover {
        color: #fff;
    }

    /* FOOTER  */

    .footer {
        text-align: center;
    }

    .footer hr {
        background: #000;
        height: 1px;
    }

    .copyright p {
        font-weight: bold;
        font-size: 12px;
    }

    .footer-link {
        cursor: pointer;
        text-decoration: underline;
        color: #000;
    }

    /*----------------------------------------------------------MEDIA QUERIES--------------------------------------*/

    @media (max-width: 1510px) {

        /* Block 1 - Text resize */
        .header-text h1 {
            font-size: 70px;
        }

        /* Block 3 - Image resize */
        .h1-projects {
            font-size: 70px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------ */

    @media (max-width: 1257px) {

        /* Block 1 - resize and reposition */
        .header-text {
            bottom: 35%;
        }

        .header-text p {
            font-size: 18px;
        }

        /* Block 3 - Image resize */
    }

    /* -----------------------MEDIA QUERIES------------------------ */

    @media screen and (max-width: 1200px) {

        /* Block 2 - Menu */
        .rows a {
            width: 150px;
            height: 150px;
            margin: 10px 10px;
        }

        .h4Div {
            top: 48%;
        }

        .h4Div h4 {
            line-height: 0px;
            font-size: 18px;
        }

        .h4Div-correction {
            top: 33%;
        }

        .h4Div-correction h4 {
            line-height: 24px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------ */
    @media (max-width: 1199px) {

        /* Block 1 - resize and reposition */
        .overlay .closebtn {
            top: 5%;
            right: 4%;
        }

        .header-text {
            left: 0;
            right: 0;
            bottom: 45%;
            width: 66%;
        }

        .header-text h1 {
            font-size: 60px;
        }

        .filter-web-btn {
            width: 110px;
            height: 50px;
            padding: 10px;
        }

        /* Block 2 - Text resize */
        .project-text {
            margin-top: -93px;
        }

        .project-text h5 {
            font-size: 30px;
        }

        /* Block 3 - Image resize */
        .h1-projects {
            font-size: 60px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------ */
    @media (max-width: 991px) {

        /* Block 1 - resize and reposition */
        /* LOGO */
        /*   .logo img,
        .logo-menu img {
            width: 200px;
            height: 50px;
        } */

        .header-text {
            bottom: 40%;
        }

        .header-text h1 {
            font-size: 45px;
        }

        .header-text p {
            font-size: 16px;
        }

        .overlay a {
            padding: 4px;
            font-size: 18px;
        }

        .overlay .closebtn {
            top: 0%;
        }

        .filter-web-btn {
            width: 90px;
            height: 35px;
            padding: 0px;
            font-size: 17px;
        }

        .filter-web-btn i {
            margin-left: 8px;
        }

        /* Block 2 - Text resize */
        .project-text h5 {
            font-size: 24px;
        }

        .project-text p {
            font-size: 18px;
        }

        /* Block 3 -  */
        .h1-projects {
            font-size: 40px;
        }

        .projects-btn-rest {
            line-height: 20px;
            font-size: 18px;
            height: 35px;
            width: 170px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------ */
    @media (max-width: 768px) {

        /* Block 1 - resize and reposition */
        .logo,
        .logo-menu {
            top: 10%;
        }

        .menu-icon {
            display: none;
        }

        .menu-icon-mobile {
            display: block;
        }

        /* LANGUAGE SELECTOR */
        .language-container {
            display: none;
        }

        .language-container-mobile {
            display: unset;
            margin-left: -10px;
        }

        .language-container-mobile:focus {
            outline: none;
            box-shadow: none;
        }

        .lang-btn-mobile:focus {
            outline: none;
            box-shadow: none;
        }

        .lang-btn-mobile {
            padding: 0 !important;
        }

        .lang-btn-mobile h5 {
            color: #ccc;
            margin: 0;
            font-size: 16px;
        }

        .lang-mk-mobile {
            padding: 0 6px 0 0;
        }

        .lang-btn-mobile:nth-child(1) {
            border-right: 2px solid #ccc;
            border-radius: 0;
        }

        .header-text {
            bottom: 45%;
            left: 0;
            right: 0;
            width: 80%;
        }

        /* filter new button and overlay background*/
        .filter-web-container {
            display: none;
        }

        .filter-mobile-btn {
            display: revert;
            z-index: 2;
            position: fixed;
            right: 6%;
            top: 80%;
            background-color: #0062A3;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            font-size: 20px;
            padding: 0px;
        }

        .filter-mobile-btn:focus {
            box-shadow: none;
        }

        .filter-mobile-btn img {
            width: 24px;
            height: 22px;
        }

        /* FILTER MENU */
        .add-product {
            display: block;
            position: fixed;
            right: 6%;
            bottom: 6%;
            z-index: 2;
            transition: all 0.3s ease;
            background-color: #0062A3;
            height: 40px;
            width: 40px;
            box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07);
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
        }

        .add-product img {
            width: 25px;
        }

        .button-copy img {
            width: 40px;
            height: 40px;
            opacity: 1 !important;
        }

        .baleBTN {
            position: absolute;
            right: 6%;
            bottom: 6%;
            transition: all 0.3s ease;
            background-color: #0062A3;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            cursor: pointer;
            display: block !important;
            padding: 0;
        }

        .add-product .button-copy {
            text-align: center;
            line-height: 37px;
        }

        .overlay-filter-content {
            width: 80%;
            background-color: #fff;
            padding: 10% 0;
            text-align: center;
            margin: auto;
        }

        .overlay-filter-content a {
            padding: 10px;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            color: #000;
            display: block;
            transition: 0.3s;
            line-height: initial;
        }

        .overlay-filter-content a:hover,
        .overlay-filter-content a:focus {
            color: #0062A3;
        }

        .add-product.open {
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 5px;
            width: 100%;
            height: 100%;
            cursor: default;
            right: 0;
            bottom: 0;
        }

        .add-product.open form {
            opacity: 1;
            transition: opacity 0.1s ease;
            transition-delay: 0.3s;
            height: auto;
        }

        .add-product.open img {
            opacity: 0;
        }

        .add-product form {
            transition: none;
            opacity: 0;
            height: 0;
            overflow: hidden;
        }

        .add-product .cancel {
            font-size: 12px;
            text-align: center;
            margin-top: 1em;
        }

        .add-product .cancel span {
            cursor: pointer;
        }

        .add-product .cancel span:hover {
            text-decoration: underline;
        }

        /* Block 2 - new layout */
        .project-image img {
            filter: none;
            -webkit-filter: none;
        }

        .project-text {
            margin-top: -125px;
        }

        .project-text h5 {
            font-size: 30px;
        }

        .project-text p {
            font-size: 22px;
        }

        .projects-btn {
            width: 100%;
            font-size: 26px;
        }

        /* Block 3 - reposition */
        .architecture-section,
        .real-estate-section {
            margin-bottom: 10%;
        }

        .h1-projects {
            font-size: 55px;
        }

        .projects-btn {
            margin-top: 15%;
        }

        .projects-btn-rest {
            line-height: 26px;
            font-size: 22px;
            height: 40px;
            width: 210px
        }
    }

    /* -----------------------MEDIA QUERIES------------------------ */
    @media screen and (max-width: 576px) {

        /* Block 1 - reposition and resize */
        /*     .logo img,
        .logo-menu img {
            width: 160px;
            height: 40px;
        } */

        .header-text {
            top: 25%;
        }

        .header-text h1 {
            font-size: 30px;
        }

        .header-text p {
            font-size: 14px;
        }

        .down-arrows {
            top: 60%;
        }

        /* Block 2 - reposition and resize */
        .project-text {
            margin-top: -100px;
        }

        .project-text h5 {
            font-size: 28px;
        }

        .project-text p {
            font-size: 20px;
        }

        .projects-btn {
            width: 100%;
            font-size: 22px;
            height: 40px;
            line-height: 26px;
        }

        /* Block 3 - reposition */
        .rest-of-projects {
            margin-top: 15%;
            margin-bottom: 15%;
        }

        .architecture-section,
        .real-estate-section {
            margin-bottom: 15%;
        }

        .h1-projects {
            font-size: 50px;
        }

        .projects-btn-rest {
            line-height: 26px;
            font-size: 20px;
            height: 40px;
            width: 190px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------ */
    @media screen and (max-width: 400px) {

        /* BLOCK 2  */
        .project-text {
            margin-top: -80px;
        }

        .project-text h5 {
            font-size: 24px;
        }

        .project-text p {
            font-size: 18px;
        }

        /* Block 3 - reposition */
        .architecture-section,
        .real-estate-section {
            margin-bottom: 20%;
        }

        .h1-projects {
            font-size: 40px;
        }

        .projects-btn-rest {
            line-height: 15px;
            font-size: 14px;
            height: 30px;
            width: 140px;
        }
    }

    /* ALL BUTTONS CLASS */

    .all-btn {
        background-color: #0062A3;
        color: #fff;
        padding: 8px 16px;
        border-radius: 32px;
        font-size: 20px;
        font-weight: 500;
        width: unset;
        height: unset;
        line-height: unset;
    }

    .all-btn:hover {
        color: #fff;
    }

    .all-btn:focus {
        box-shadow: none;
    }