* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-y: overlay;
}

.unfixedBody {
    position: relative;
}

.fixedBody {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(139, 139, 139);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* TEMPORARY PRELOADER */

.battery-charge {
    background-color: white;
    width: 190px;
    height: 15px;
    border-radius: 15px;
    border: 2px solid #023e87;
    position: absolute;
}

.small-battery {
    background-color: white;
    width: 92px;
    height: 11px;
    margin: auto;
    border-radius: 25px;
    border-right: 2px solid #023e87;
    border-left: 2px solid #023e87;
    position: relative;
    overflow: hidden;
}

@keyframes animatedImage {
    100% {
        right: -165px;
    }

    0% {
        right: 165px;
    }
}

.property {
    background-color: #023e87;
    width: 95px;
    height: 12px;
    border-radius: 25px;
    margin: auto;
    position: absolute;
    top: -1px;
    animation: animatedImage 2s linear infinite;
    animation-delay: 1500ms;
    animation-fill-mode: both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    16% {
        opacity: 1;
    }

    84% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.logo-loader {
    text-align: center;
}

.image-loader img {
    width: 190px;
    margin-top: 30px;
}

.text-loader {
    margin-top: 10px;
}

.text-loader p {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin: 0;
}

/*FadeInUp*/

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUpDown {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 500ms;
    -o-animation-delay: 2s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.preloader-wrap {
    width: 100%;
    height: 100%;
    z-index: 9999999;
    position: fixed;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage {
    z-index: 100;
    border: 1px solid #ccc;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-size: 15px;
}

.loader,
.percentage {
    height: 13px;
    width: 92px;
    border-radius: 4px;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: -1px;
    right: 0;
    margin: auto;
}

.loader:after,
.percentage:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.trackbar {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    position: relative;
}

.loadbar {
    width: 0%;
    height: 100%;
    background-color: #023e87;
    top: 0;
    left: 0;
    animation: flicker 5s infinite;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
}

@keyframes animation {
    10% {
        opacity: 0.9;
    }

    30% {
        opacity: 0.86;
    }

    60% {
        opacity: 0.8;
    }

    80% {
        opacity: 0.75;
    }
}

.battery-charge {
    margin: auto;
    left: 0;
    right: 0;
}

@media screen and (max-width: 500px) {
    .battery-charge {
        width: 140px;
        height: 11px;
        margin: auto;
        left: 0;
        right: 0;
    }

    .small-battery {
        width: 70px;
        height: 7px
    }

    .property {
        width: 70px;
        height: 8px;
    }

    .image-loader img {
        width: 140px;
    }

    .text-loader {
        margin-top: 5px;
    }

    .text-loader P {
        font-size: 0.47rem;
    }
}

/*FadeInUp*/

/*PreLoader*/

/* Блок 1 – Logo & Header */

.headerplusmenu {
    position: relative;
}

.header {
    /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    /*eventualno da se proba --- https://chanind.github.io/javascript/2019/09/28/avoid-100vh-on-mobile-web.html
    ---- https://dev.to/admitkard/mobile-issue-with-100vh-height-100-100vh-3-solutions-3nae*/
    transition: 0.5s ease-in-out;
    z-index: 1;
}

/* header background  */


.parallax-img1 video {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.video-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
}

/* LANGUAGE SELECTOR */

.language-container {
    position: absolute;
    left: 5%;
}

.language-container:focus {
    outline: none;
    box-shadow: none;
}

.lang-btn:focus {
    outline: none;
    box-shadow: none;
}

.lang-btn {
    padding: 0 5px 0 0;
}

.lang-btn h5 {
    color: #ccc;
    margin: 0;
    font-size: 1rem;
}

.lang-btn:nth-child(1) {
    border-right: 2px solid #ccc;
    border-radius: 0;
}

.lang-btn.active h5 {
    color: #ffffff;
}

/* header logo */

.langLogoMenu {
    position: absolute;
    width: 100%;
    top: 8%;
}

.logo,
.logo-menu {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 8%;
}

.logo img,
.logo-menu img {
    width: 144px;
    height: 35px;
    left: 0;
    right: 0;
    margin: auto;
}

/* header hamburger menu */

.menu-icon {
    cursor: pointer;
    position: absolute;
    top: 8%;
    right: 5%;
}

.menu-icon-mobile {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 8%;
    right: 5%;
}

/* meni ikonce - fiksirana za header */

.bar1-fixed,
.bar2-fixed,
.bar3-fixed {
    width: 24px;
    height: 4px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

/* header text */

.header-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40%;
    text-align: center;
    color: #fff;

    margin: auto;
}

.header-text h1 {
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 500;
}

.header-text p {
    font-size: 21px;
    padding-top: 10px;
    width: 50%;
    margin: auto;
}

/* header arrows - showing to scroll down */

/* ARROWS TESTING */

.scroll-down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
    transition: transform 0.5s 1.5s, opacity 0.3s 1.7s, 0.5s 1.5s;
    color: #fff;
    text-align: center;
}

.scroll-down.removed {
    transform: translateY(-20rem);
    opacity: 0;
    z-index: -10;
    transition: transform 0.5s, opacity 0.3s 0.2s, z-index 0.5s;
}

.scroll-down:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -3rem;
    margin: auto;
    left: 0;
    right: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.25rem solid #fff;
    border-left: none;
    border-top: none;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    animation: arrowMove 1.2s infinite;
}

@keyframes arrowMove {
    to {
        transform: rotate(45deg) translateY(2rem) translateX(2rem);
        opacity: 0;
    }
}

@keyframes navArrowMove {
    to {
        transform: translateX(2rem);
        opacity: 0;
    }
}

/* Блок 2 – Menu - web */

/* menu mobile */

.overlay {
    display: none;
}

.menu-container {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: table;
    width: 100%;
}

.menu-icon-button {
    background: none;
    border: none;
}

.menu-icon-button:focus {
    outline: none;
}

.menu-icon-button:hover {
    cursor: pointer;
}

/* menu icon web */

.menu-icon-black {
    float: right;
    opacity: 0;
    transition: 0.7s ease-in-out;
}

.menu-icon-black:hover {
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.bar2 {
    opacity: 0;
}

.bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-10px, -6px);
}

.menu-black {
    background-color: #000;
}

/* menu selection */

.menu {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    transition: 0.7s ease-in-out;
}

.rows {
    text-align: center;
}

.rows a {
    display: inline-block;
    width: 210px;
    height: 210px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: inherit;
    margin: 25px 25px;
    text-align: center;
}

.rows a:hover {
    border: none;
}

.menu-option {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.menu-option h4 {
    font-size: 25px;
    font-weight: bold;
}

.h4Div {
    top: 40%;
    width: 100%;
    color: black;
    position: absolute;
}

.h4Div-correction {
    top: 35%;
}

.h4Div h4 {
    margin: auto;
}

@media (max-height: 769px) {
    .rows a {
        width: 160px;
        height: 160px;
        margin: 10px 10px;
    }

    .h4Div h4 {
        font-size: 19px;
    }
}

/* MENU ANIMATIONS */

.menu-link {
    position: relative;
}

.menu-link:hover {
    cursor: pointer;
}

.menu-anim {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}

.menu-anim video {
    width: 100%;
    height: 100%;
}

#opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: 1;
}

/* MENU WEB FOR TOUCH SCREEN */

.menu-container-touch {
    height: 100vh;
    position: relative;
    display: table;
    width: 100%;
}

/* menu selection */

.menu-touch {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.rows-touch {
    text-align: center;
}

.rows-touch a {
    display: inline-block;
    width: 210px;
    height: 210px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: inherit;
    margin: 25px 25px;
    text-align: center;
}

.menu-option-touch {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.menu-option-touch h4 {
    font-size: 25px;
    font-weight: bold;
}

.h4Div-touch {
    top: 50%;
    width: 100%;
    height: 50px;
    color: black;
    position: absolute;
    text-align: center;
    margin: -25px 0 0 0;
}

.h4Div-touch h4 {
    margin: auto;
    line-height: 35px;
}

.h4Div-correction-touch {
    top: 43%;
}

@media (min-width: 1201px) and (max-width: 1430px) {
    .rows-touch a {
        width: 200px;
        height: 200px;
    }

    .menu-option-touch h4 {
        font-size: 24px;
        font-weight: bold;
    }
}

@media (min-width: 769px) and (max-width: 864px) {
    .rows-touch a {
        height: 105px;
        width: 105px;
    }

    .h4Div-touch h4 {
        line-height: 17px;
        font-size: 12px;
    }

    .h4Div-correction-touch {
        top: 60%;
        line-height: 18px;
    }
}

/* MENU ANIMATIONS */

.menu-link-touch {
    position: relative;
}

.menu-anim-touch {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}

.menu-anim-touch video {
    width: 100%;
    height: 100%;
}

#opacity0-touch {
    opacity: 0;
}

.opacity1-touch {
    opacity: 1;
}

.menu-icon-black-touch {
    position: absolute;
    top: 10%;
    right: 5%;
}

/* Block 3 */

.verticalSliderSection {
    display: flex;
    background-color: #000;
}

.leftside {
    width: 30%;
    padding: 12% 0 20%;
}

.rightside {
    width: 70%;
    position: relative;
}

.photo1 {
    background-image: url("img/projects-mobile/construction\ 1.jpg");
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.photo2 {
    background-image: url("img/projects-mobile/arch\ 3-small.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.photo3 {
    background-image: url("img/projects-mobile/real-estate-mobile.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

#lazyphoto1 {
    transition: 0.8s ease-in-out;
}

#lazyphoto2 {
    transition: 0.8s ease-in-out;
}

#lazyphoto3 {
    transition: 0.8s ease-in-out;
}

.sliders {
    height: 100vh;
    position: sticky;
    top: 0;
    box-shadow: inset 1px 0px 0px black;
}

.vertical-projects-desc-text {
    position: sticky;
    top: 25vh;
    margin-left: 35%;
    z-index: 1;
    color: #fff;
    width: 160%;
}

.architecture-text {
    display: none;
    transition: 0.5s ease-in-out;
}

.architecture-text1 {
    display: block;
    transition: 0.5s ease-in-out;
}

.construction-text {
    display: none;
    transition: 0.5s ease-in-out;
}

.construction-text1 {
    display: block;
    transition: 0.5s ease-in-out;
}

.realestate-text {
    display: none;
    transition: 0.5s ease-in-out;
}

.realestate-text1 {
    display: block;
    transition: 0.5s ease-in-out;
}

/* block 3 text appear */

/* https://www.creativebloq.com/inspiration/css-animation-examples/2
https://www.ensemblecorrespondances.com/
https://codepen.io/matchboxhero/pen/XexJoL */

.projects-h1 {
    font-weight: bold;
    font-size: 90px;
    margin-bottom: 5%;
}

.p-container {
    margin-top: 5%;
}

.projects-h1 {
    font-size: 90px;
    font-weight: bold;
    position: relative;
    display: block;
    margin: 0;
    transform: translateY(6rem);
    animation: up 500ms linear forwards;
    z-index: 1;
}

.h1-container {
    font-size: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 0.4rem;
}

@keyframes up {
    100% {
        transform: translateY(0);
    }
}

.projects-p {
    font-size: 18px;
    position: relative;
    display: block;
    margin: 0;
    transform: translateY(4rem);
    animation: up 500ms linear forwards;
    z-index: 1;
}

.p-container {
    font-size: 0;
    position: relative;
    overflow: hidden;
}

@keyframes up {
    100% {
        transform: translateY(0);
    }
}

/* https://stackoverflow.com/questions/43186015/css-hide-scroll-bar-but-have-element-scrollable/43186311 */

.vertical-projects-btn {
    position: sticky;
    margin-bottom: -70%;
    background-color: #0062A3;
    color: #fff;
    padding: 8px 16px;
    border-radius: 32px;
    font-size: 20px;
    font-weight: 500;
}

.vertical-projects-btn:hover {
    color: #fff;
}

.vertical-projects-btn:focus {
    box-shadow: none;
}

/* projects arrows  */

.projects-prev {
    background: transparent;
    border: none;
    position: absolute;
    left: -50px;
}

.projects-prev:focus {
    outline: none;
}

.projects-next {
    background: transparent;
    border: none;
}

.projects-next:focus {
    outline: none;
}

.projects-arrows-web {
    height: 35px;
    width: 22px;
}

/* BLOCK 3 for TOUCHSCREEN - MOBILE */

.architecture-section-mobile,
.construction-section-mobile,
.realestate-section-mobile {
    height: 90vh;
}

.projects-desc-mobile {
    background-color: #000;
    height: 100%;
    width: 35%;
    z-index: 1;
}

.projects-desc-text-mobile {
    color: #fff;
}

.projectImgArc {
    height: 100%;
    width: 65%;
    float: right;
    overflow: hidden;
}

.projectImgArc img {
    width: 100%;
    height: 100%;
}

.projectImgRea {
    height: 100%;
    width: 65%;
    float: right;
    overflow: hidden;
}

.projectImgRea img {
    width: 100%;
    height: 100%;
}

.projectImgCon {
    height: 100%;
    width: 65%;
    float: right;
    overflow: hidden;
}

.projectImgCon img {
    width: 100%;
    height: 100%;
}

.projectTitle {
    position: absolute;
    left: 10%;
    top: 30%;
}

.projectDis {
    position: absolute;
    left: 10%;
    top: 48%;
    padding: 35px 0 10px 0;
    width: 35%;
}

.projects-desc-text-mobile h5 {
    font-size: 20px;
}

.projects-desc-text-mobile h1 {
    font-size: 76px;
    font-weight: bold;
}

.projects-desc-text-mobile p {
    font-size: 18px;
    font-weight: normal;
}

.projects-btns {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 75px;
}

.projects-btn-mobile {
    position: absolute;
    left: 10%;
    bottom: 15%;
    line-height: 45px;
    background-color: #0062A3;
    color: #fff;
    height: 58px;
    width: 220px;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 40px;
}

.carousel-projects-mobile {
    position: relative;
}

#carouselProjectsControls-mobile .carousel-control-prev {
    height: 20px;
    width: 50px;
    top: 10%;
    left: 85%;
}

#carouselProjectsControls-mobile .carousel-control-next {
    position: absolute;
    height: 20px;
    width: 50px;
    top: 10%;
    left: 90%;
}

.projects-arrows-mobile {
    width: 20px;
    height: 30px;
}

/* MEDIA QUERIES BLOCK 3 for TOUCHSCREEN - MOBILE */

@media screen and (max-width: 1100px) {
    .projectTitle {
        top: 35%;
    }

    .projects-desc-text-mobile h1 {
        font-size: 50px;
    }

    .projects-desc-text-mobile p {
        font-size: 14px;
    }

    .projectDis {
        width: 40%;
    }

    .projects-btn-mobile {
        line-height: 28px;
        height: 40px;
        width: 160px;
        font-size: 16px;
    }
}

/* Блок 4 – Икони */

.icons-mobile-grid {
    display: none;
}

.icons {
    height: auto;
    position: relative;
    padding: 0 6%;
    margin-top: 190px;
    margin-bottom: 150px;
}

.icons img {
    width: 100px;
}

.icons .row {
    margin: 2% 0;
    text-align: center;
}

.icons-option {
    height: 210px;
    width: 210px;
    margin: auto;
}

.icons-option p {
    margin-top: 20px;
    font-size: 20px;
}

.icons a {
    height: 250px;
    width: 250px;
    color: inherit;
    text-decoration: none;
}

.icons-option:hover {
    cursor: pointer;
}

.icon-options-under:hover {
    text-decoration: underline;
}

.icons-text {
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    color: #000;
}

.icons-text {
    padding-top: 15%;
}

/* Clients loop

https://webdesignerwall.com/wdw-snippet/infinite-autoplay-carousel
https://codepen.io/studiojvla/pen/qVbQqW

*/

/* Headline text */

.clients h2 {
    text-align: center;
    font-size: 56px;
    font-weight: 900;
    margin-bottom: 140px;
}

/* Slider */

.clients-black {
    opacity: 0;
    transition: 0.4s ease-in-out;
    background-color: #000;
}

.clients {
    transition: 0.6s ease-in-out;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-298px * 6));
        transform: translateX(calc(-298px * 6));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-298px * 6));
        transform: translateX(calc(-298px * 6));
    }
}

.slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider .slide-track {
    -webkit-animation: scroll 10s linear infinite;
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(302px * 12);
}

.slides {
    text-align: center;
    display: block;
    float: left;
    width: 400px;
    height: 400px;
    border: 1px solid #aaaaaa;
    margin-top: 0;
    transition: 0.5s all ease-in-out;
}

.slides:nth-child(even) {
    display: block;
    float: left;
    width: 300px;
    height: 300px;
    margin: 50px -50px 0;
}

.slides img {
    width: 100px;
    margin: auto;
    display: table-cell;
    top: 50%;
    padding-top: 50%;
    margin-top: -50px;
}

/* Блок 6 – News (или Блог текстовите) */

/* news - small squares before date */

.news-white-square {
    width: 10px;
    height: 10px;
    background-color: #fff;
    display: inline-block;
    margin-right: 10px;
}

.news-text {
    position: absolute;
    z-index: 2;
    margin-left: 100px;
}

.news-text-fixed {
    z-index: 2;
    position: fixed;
}

.news-text h2 {
    color: #fff;
    text-align: center;
    font-size: 250px;
    font-weight: 900;
    margin-bottom: 0;
}

.scroll {
    position: fixed;
    bottom: 0;
    left: 0;
}

.front {
    opacity: 0;
    z-index: 500;
    width: 5000px;
    position: relative;
    padding: 150px 100px;
    position: relative;
    transition: 0.2s;
    height: 3500px;
    max-width: 100%;
}

.news-slider {
    overflow: scroll;
    width: auto;
    padding-top: 200px;
    margin-left: 540px;
}

.news-slider::-webkit-scrollbar {
    display: none;
}

.news-slider {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.news-project-row {
    display: revert;
    margin-right: -30000px;
    width: fit-content;
}

.news-projects-selection {
    position: relative;
    display: block;
    float: left;
    margin: 0 20px;
    transition: 0.4s ease-in-out;
}

.newsContent {
    position: absolute;
}

.newsContent-fixed {
    position: fixed;
}

#news-content .news-projects-selection {
    z-index: 2;
}

#news-content .news-projects-selection:nth-child(even) {
    z-index: 1;
}

.news-project-image img {
    width: 400px;
}

.news-project-text {
    margin-top: 10px;
}

.news-project-text h5 {
    color: #fff;
}

.news-project-text p {
    color: #ccc;
}

.news-date-white-square {
    color: #fff;
    font-weight: 900;
}

.news-white {
    z-index: 2 !important;
}

.news-post-white {
    position: relative;
    background-color: #000;
    border: #fff 2px solid;
    width: 400px;
    height: 400px;
}

.news-post-link img {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    height: 70px;
    width: 70px !important;
}

.news-post-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 60%;
    text-align: center;
}

.news-post-link-tekst {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
}

/* MEDIA QUERIES FOR TOUCH SCREENS - MOBILE */

.news-container-mobile {
    /* display: block; */
    margin: 120px 0;
    padding: 15% 0;
    background-color: #000;
    position: relative;
}

.news-date-white-square {
    margin: 0;
}

.news-text-mobile h2 {
    position: absolute;
    top: 20%;
    left: 35%;
    color: #fff;
    text-align: center;
    font-size: 160px;
    z-index: 1;
}

/* NEWS SLIDER */

.news-slider-mobile {
    overflow: scroll;
    width: auto;
}

.news-projects-selection-mobile:nth-child(1) {
    margin-left: 220px;
}

.news-slider-mobile::-webkit-scrollbar {
    display: none;
}

.news-slider-mobile {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.news-project-row-mobile {
    display: revert;
    margin-right: -30000px;
    width: fit-content;
}

.news-projects-selection-mobile {
    position: relative;
    display: block;
    float: left;
    margin: 0 20px;
}

.news-projects-selection-mobile:nth-child(even) {
    z-index: 2;
}

.news-project-image-mobile img {
    width: 300px;
}

.news-project-text-mobile {
    margin-top: 7%;
}

.news-project-text-mobile h5 {
    color: #fff;
}

.news-project-text-mobile p {
    color: #ccc;
}

.news-project-image-mobile a {
    text-decoration: none;
}

.news-project-image-mobile a:focus {
    text-decoration: none;
}

.news-project-image-mobile a:hover {
    text-decoration: none;
}

.news-post-white-mobile {
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 300px;
}

.news-post-link-mobile img {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    height: 70px;
    width: 70px !important;
}

.news-post-text-mobile {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 60%;
    text-align: center;
}

.news-post-link-tekst-mobile {
    color: #000;
    font-size: 40px;
    font-weight: 900;
}

#mapid {
    height: 700px;
    max-height: 70vh;
}

/* Promena na pozadina od Clients i News */

.white-bg {
    transition: 0.4s ease-in-out;
}

.black-bg {
    background-color: #000;
    transition: 0.4s ease-in-out;
}

.slider-wanish {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.front-black {
    opacity: 1;
    transition: 0.4s;
}

.news-projects-selection:nth-child(even) {
    z-index: 2;
}

.news-project-image a:hover {
    text-decoration: none;
}

.news-project-image img {
    width: 400px;
}

.news-project-text h5 {
    color: #fff;
}

.news-project-text p {
    color: #ccc;
}

/* Блок 7 – Career */

.career {
    opacity: 0;
    text-align: center;
    margin-top: 10%;
    transition: 0.4s ease-in-out;
}

.career-show {
    opacity: 1;
    transition: 0.4s ease-in-out;
}

.career-mobile {
    display: none;
}

.career h2 {
    font-size: 56px;
    font-weight: 900;
}

.career p {
    width: 60%;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.career-media {
    margin: 3% 4%;
}

.career-img,
.career-img2,
.career-img3 {
    margin: 0 0px;
    padding: 0;
}

.career-img img,
.career-img2 img,
.career-img3 img {
    width: 530px;
}

.career-btn-link {
    background-color: #0062A3;
    color: #fff;
    height: 55px;
    width: 260px;
    border-radius: 0px;
    font-size: 23px;
    line-height: 40px;
}

.career-btn-link:hover {
    background-color: #0062A3;
    color: #fff;
}

.career-btn-link:focus {
    box-shadow: none;
}

/* Блок 8 – Мапа */

.map-section-container {
    text-align: center;
    margin: 120px 0;
}

.map-section-container:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
}

.map-section-container h2 {
    font-size: 56px;
    font-weight: 900;
}

.map-section-container h5 {
    padding-top: 10px;
    margin-bottom: 3%;
}

.leaflet-popup-close-button {
    display: none;
}

.bodyContent p {
    text-align: center;
}

.siteNotice {
    width: 100%;
    height: 5px;
    background-color: #000;
}

.firstHeading {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.content {
    width: 100px;

}

/* Блок – 9 Контакт форма */

.contact-container {
    text-align: center;
}

.contact-container h2 {
    font-size: 56px;
    font-weight: 900;
}

.contact-container h6 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 65px;
}

.contact-container p {
    font-weight: bold;
    margin-bottom: 0;
}

.contact-info {
    margin-top: 40px;
}

.contact-info input,
.contact-info select {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-bottom: 10px;
    color: rgba(90, 90, 90);

}

.contact-info select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

.contact-info input:focus,
.contact-info select:focus {
    outline: none;
    border-bottom: 2px solid black;
}

.selectCountry {
    position: relative;

}

.selectCountry:hover,
.contact-info select:hover {
    cursor: pointer;
}



.contact-message {
    text-align: left;
}

.contact-message p {
    margin-bottom: 2%;
}

.contact-message textarea {
    width: 100%;
    height: 100px
}

.contact-message textarea:focus {
    outline: none;
}

.contact-container button {
    margin-top: 30px;
}


/* contact section autofill - remove background color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
}

/* FOOTER */

.footer {
    text-align: center;
    margin-top: 4%;
}

.facebook,
.instagram {
    display: inline-block;
}

.facebook img {
    width: 60px;
    margin-right: 10px;
}

.instagram img {
    width: 55px;
    margin-left: 10px;
}

.footer-text {
    margin-top: 35px;
    font-size: 22px;
}

.footer-text p {
    margin-bottom: 3%;
}

.footer hr {
    background: #000;
    height: 1.0px;
    margin: 8% 0 3%;
}

.copyright p {
    font-weight: bold;
    font-size: 12px;
}

.footer-text a {
    color: #000;
    text-decoration: underline;
}

.footer-link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #000;
}

/* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

@media screen and (max-width: 1850px) {

    .career-img img,
    .career-img2 img,
    .career-img3 img {
        width: 500px;
    }
}

/* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

@media screen and (max-width: 1750px) {

    .career-img img,
    .career-img2 img,
    .career-img3 img {
        width: 480px;
    }
}

/* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

@media screen and (max-width: 1700px) {

    /* Block 3  */
    .vertical-projects-btn {
        margin-bottom: -90%;
    }

    /* Блок 6 – News (или Блог текстовите) */
    .news-project-image img {
        width: 350px;
    }

    .news-post-white {
        width: 350px;
        height: 350px;
    }

    .news-post-text {
        top: 55%;
    }

    .news-post-link-tekst {
        font-size: 40px;
    }

    /* Блок 7 – Career  */
    .career-img img,
    .career-img2 img,
    .career-img3 img {
        width: 430px;
    }
}

/* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

@media screen and (max-width: 1550px) {

    .career-img img,
    .career-img2 img,
    .career-img3 img {
        width: 400px;
    }
}

/* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

@media screen and (max-width: 1400px) {

    /* resize of header text */
    .header-text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40%;
        text-align: center;
        color: #fff;
        margin: auto;
    }

    .header-text h1 {
        font-size: 50px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    .header-text p {
        font-size: 18px;
        width: 68%;
    }

    .projects-desc-text {
        width: 140%;
    }

    .projects-desc-text h1 {
        font-size: 75px;
        margin-bottom: 50px;
    }

    .projects-desc-text p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 70px;
    }

    /* Block 3 */
    .leftside {
        padding: 13% 0;
    }

    .projects-h1 {
        font-size: 65px;
    }

    .projects-p {
        font-size: 16px;
    }

    /* Block 4 Icons  */
    .icons {
        margin-top: 160px;
        margin-bottom: 110px;
    }

    .icons-option {
        height: 180px;
        width: 180px;
    }

    /* Блок 6 – News (или Блог текстовите) */
    .news-text-fixed {
        top: 22%;
    }

    .news-text h2 {
        top: 15%;
        left: 34%;
        font-size: 180px;
    }

    .newsContent-fixed {
        top: 25%;
    }

    .news-project-image img {
        width: 250px;
    }

    .news-post-white {
        width: 250px;
        height: 250px;
    }

    .news-post-link img {
        height: 55px;
        width: 55px !important;
    }

    .news-post-link-tekst {
        font-size: 30px;
    }

    /* Block 7 Career */
    .career-img img,
    .career-img2 img,
    .career-img3 img {
        width: 350px;
    }
}

/* ---------------------------------------------------MEDIA QUERIES--------------------------------------------- */

@media screen and (max-width: 1200px) {

    /* resize of header text */
    .header-text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40%;
        text-align: center;
        color: #fff;

        margin: auto;
    }

    .header-text h1 {
        font-size: 36px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    .header-text p {
        font-size: 16px;
        padding-top: 0px;
    }

    /* Block 2 - Menu */
    .menu {
        padding: 7% 0%;
    }

    .rows a {
        width: 150px;
        height: 150px;
        margin: 10px 10px;
    }

    .h4Div {
        top: 48%;
    }

    .h4Div h4 {
        line-height: 0px;
        font-size: 18px;
    }

    .h4Div-correction {
        top: 33%;
    }

    .h4Div-correction h4 {
        line-height: 24px;
    }

    /* Block 2 - Menu FOR TOUCH SCREEN */
    .rows-touch a {
        width: 150px;
        height: 150px;
        margin: 10px 10px;
    }

    .h4Div-touch {
        top: 66%;
    }

    .h4Div-touch h4 {
        line-height: 0px;
        font-size: 18px;
    }

    .h4Div-correction-touch {
        top: 51%;
    }

    .h4Div-correction-touch h4 {
        line-height: 24px;
    }

    /* Block 3 - projects text */
    .projects-h1 {
        font-size: 55px;
    }

    .projects-p {
        font-size: 14px;
    }

    .vertical-projects-btn {

        margin-bottom: -90%;
    }

    /* Block 4 Icons  */
    .icons-option {
        height: 150px;
        width: 150px;
    }

    .icons .row {
        margin: 4% 0;
        text-align: center;
    }

    /* Slider */
    .clients {
        padding-top: 3%;
        margin-bottom: 15%;
    }

    @-webkit-keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(calc(-298px * 6));
            transform: translateX(calc(-298px * 6));
        }
    }

    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(calc(-298px * 6));
            transform: translateX(calc(-298px * 6));
        }
    }

    .slider {
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .slider::after {
        right: 0;
        top: 0;
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }

    .slider .slide-track {
        -webkit-animation: scroll 10s linear infinite;
        animation: scroll 10s linear infinite;
        display: flex;
        width: calc(302px * 12);
    }

    .slides {
        display: block;
        float: left;
        width: 400px;
        height: 400px;
        border: 1px solid #aaaaaa;
        margin-top: 0;
    }

    .slides:nth-child(even) {
        display: block;
        float: left;
        width: 300px;
        height: 300px;
        margin: 50px -50px 0;
    }

    .slides img {
        width: 100px;
        margin: auto;
        display: table-cell;
        top: 50%;
        padding-top: 50%;
        margin-top: -50px;
    }

    /* Блок 6 – News (или Блог текстовите) */
    .news-text h2 {
        top: 15%;
        left: 30%;
        font-size: 160px;
    }

    /* NEWS SLIDER */
    .news-slider {
        padding-top: 85px;
        margin-left: 260px;
    }

    .news-project-image img {
        width: 250px;
    }

    /* Career */
    .career {
        margin: 10% 0;
    }

    .career h2 {
        font-size: 50px;
    }

    .career p {
        font-size: 18px;
        width: 60%;
    }

    .career-img img,
    .career-img2 img,
    .career-img3 img {
        width: 290px;
    }

    /* MAP */
    .map-section-container {
        margin: 12% 0;
    }

    .map-section-container h2 {
        font-size: 50px;
    }

    .contact-container h2 {
        font-size: 50px;
    }
}

/* -----------------------MEDIA QUERIES--------------------------------------------------------------- */

@media screen and (max-width: 991px) {

    /* MENU */
    .menu {
        padding: 10% 10%;
    }

    .menu-option h4 {
        font-size: 18px;
    }

    /* MENU FOR TOUCH SCREEN */
    .menu-option-touch h4 {
        font-size: 18px;
    }

    /* LOGO */

    /* Block 3  */
    .vertical-projects-btn {
        margin-bottom: -105%;
    }

    /* ICONS */
    .icons-text {
        font-size: 20px;
        padding-top: 10%;
    }

    .icons img {
        width: 50px;
    }

    .icons .row {
        margin: 0 0;
        text-align: center;
    }

    /* Блок 6 – News (или Блог текстовите) */
    .news-text-fixed {
        top: 22%;
    }

    .news-text h2 {
        top: 15%;
        left: 34%;
        font-size: 150px;
    }

    .newsContent-fixed {
        top: 25%;
    }

    .news-project-image img {
        width: 250px;
    }

    /* Блок 7 – Career*/
    .career-img img,
    .career-img2 img,
    .career-img3 img {
        width: 220px;
    }
}

/* -----------------------MEDIA QUERIES------------------------------------------------------------------- */

@media screen and (max-width: 768px) {

    /* Header */
    .menu-icon {
        display: none;
    }

    .menu-icon-mobile {
        display: block;
    }

    .header-text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40%;
        text-align: center;
        color: #fff;
        width: 90%;
        margin: auto;
    }

    .header-text h1 {
        font-size: 30px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    .header-text p {
        font-size: 14px;

    }

    /* LANGUAGE SELECTOR */
    .language-container {
        display: none;
    }

    .language-container-mobile {
        display: unset;
        margin-left: -10px;
    }

    .language-container-mobile:focus {
        outline: none;
        box-shadow: none;
    }

    .lang-btn-mobile:focus {
        outline: none;
        box-shadow: none;
    }

    .lang-btn-mobile {
        padding: 0 !important;
    }

    .lang-btn-mobile h5 {
        color: #ccc;
        margin: 0;
        font-size: 16px;
    }

    .lang-mk-mobile {
        padding: 0 6px 0 0;
    }

    .lang-btn-mobile:nth-child(1) {
        border-right: 2px solid #ccc;
        border-radius: 0;
    }

    /**/
    /* MENU */
    .menu-container {
        display: none;
    }

    .menu-container-touch {
        display: none;
    }

    .bar1-mobile,
    .bar2-mobile,
    .bar3-mobile {
        width: 24px;
        height: 4px;
        background-color: #fff;
        margin: 3px 0;
        transition: 0.4s;
    }

    .change .bar1-mobile {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2-mobile {
        opacity: 0;
    }

    .change .bar3-mobile {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-10px, -6px);
    }

    .overlay {
        display: block;
        height: 0%;
        width: 100%;
        z-index: 95;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    .overlay-content {
        position: relative;
        top: 50%;
        width: 100%;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: -155px;
    }

    .overlay .menu-link {
        padding: 10px;
        border-bottom: 1px solid black;
        font-size: 18px;
        font-weight: 900;
        color: #000;
        display: block;
        transition: 0.3s;
        width: 85%;
        margin: auto;
    }

    .overlay .menu-link:hover,
    .overlay .menu-link:focus {
        cursor: pointer;
        text-decoration: none;
        color: #0062A3;
    }

    .overlay .closebtn {
        color: black;
        text-decoration: none;
        position: absolute;
        top: 16px;
        right: 20px;
        font-size: 55px;
    }

    /* MOBILE MENU HEIGHT RESPONSIVNES  */
    @media screen and (max-height: 520px) {
        .overlay-content {
            top: 55%;
        }

        .overlay .menu-link {
            padding: 7px;
            font-size: 16px;
        }
    }

    @media screen and (max-height: 440px) {
        .overlay {
            overflow: auto;
        }

        .overlay-content {
            top: 65%;
        }
    }

    @media screen and (max-height: 370px) {
        .overlay {
            overflow: auto;
        }

        .overlay-content {
            top: 85%;
        }
    }

    .projects-desc-mobile {
        background-color: #000;
        min-height: 250px;
        width: 100%;
        z-index: 1;
    }

    .projects-desc-text-mobile {
        color: #fff;
    }

    .architecture-section-mobile,
    .construction-section-mobile,
    .realestate-section-mobile {
        height: unset;
    }

    .projectImgArc {
        height: 400px;
        width: 100%;
        overflow: hidden;
        float: unset;
    }

    .projectImgArc img {
        width: 100%;
        height: unset;
    }

    .projectImgRea {
        height: 400px;
        width: 100%;
        overflow: hidden;
        float: unset;
    }

    .projectImgRea img {
        width: 100%;
        height: unset;
    }

    .projectImgCon {
        height: 400px;
        width: 100%;
        overflow: hidden;
        float: unset;
    }

    .projectImgCon img {
        width: 100%;
        height: unset;
    }

    .projectTitle {
        position: absolute;
        margin: 0;
        top: 47%;
        left: 5%;
    }

    .projectDis {
        width: 80%;
        top: 62%;
        left: 5%;
    }

    .projects-desc-text-mobile h5 {
        font-size: 20px;
    }

    .projects-desc-text-mobile h1 {
        font-size: 76px;
        font-weight: bold;
    }

    .projects-desc-text-mobile p {
        font-size: 18px;
        font-weight: normal;
    }

    .projects-btn-mobile {
        bottom: 6%;
        left: 5%;
        margin: 0;
        line-height: 45px;
        background-color: #0062A3;
        color: #fff;
        height: 58px;
        width: 220px;
        border-radius: 30px;
        font-size: 20px;
    }

    .carousel-projects-mobile {
        position: relative;
    }

    #carouselProjectsControls-mobile .carousel-control-prev {
        height: 30px;
        width: 50px;
        top: 10%;
        left: 73%;
    }

    #carouselProjectsControls-mobile .carousel-control-next {
        position: absolute;
        height: 30px;
        width: 50px;
        top: 10%;
        left: 85%;
    }

    .projects-arrows-mobile {
        width: 25px;
        height: 40px;
    }

    /* ICONS */
    .icons {
        display: none;
    }

    .icons-mobile-grid {
        display: block;
        height: auto;
        position: relative;
        padding: 23% 0;
        text-align: center;
    }

    .icons-mobile-grid h2 {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 15%;
    }

    .profile-btn {
        color: #fff;
    }

    .profile-btn:hover {
        color: #fff;
    }

    .profile-btn:focus {
        color: #fff;
    }

    .icons-mobile-grid img {
        width: 100px;
        font-weight: none;
    }

    .icons-column-mobile {
        padding: 0;
    }

    .icons-mobile-grid .row {
        margin: 7% 0;
        text-align: center;
    }

    .icons-option-mobile {
        text-align: center;
    }

    .icons-option-mobile p {
        margin-top: 20px;
    }

    .icons-mobile-grid a {
        color: inherit;
        text-decoration: none;
    }

    .icons-option-mobile:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .icons-text-mobile {
        font-size: 26px;
        font-weight: 900;
        text-align: center;
        padding-top: 15%;
    }

    /* CLIENTS */
    /* Slider */
    .clients {
        padding: 27% 0;
        margin: 0;
    }

    @-webkit-keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(calc(-298px * 6));
            transform: translateX(calc(-298px * 6));
        }
    }

    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(calc(-298px * 6));
            transform: translateX(calc(-298px * 6));
        }
    }

    .slider {
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .slider::after {
        right: 0;
        top: 0;
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }

    .slider .slide-track {
        -webkit-animation: scroll 10s linear infinite;
        animation: scroll 10s linear infinite;
        display: flex;
        width: calc(302px * 12);
    }

    .slides {
        display: block;
        float: left;
        width: 400px;
        height: 400px;
        border: 1px solid #aaaaaa;
        margin-top: 0;
    }

    .slides:nth-child(even) {
        display: block;
        float: left;
        width: 300px;
        height: 300px;
        margin: 50px -50px 0;
    }

    .slides img {
        width: 100px;
        margin: auto;
        display: table-cell;
        top: 50%;
        padding-top: 50%;
        margin-top: -50px;
    }

    /* Block 6 NEWS */
    .news-container-mobile {
        padding: 25% 0;
        background-color: #000;
        position: relative;
    }

    .news-text-mobile h2 {
        position: absolute;
        top: 20%;
        left: 35%;
        color: #fff;
        text-align: center;
        font-size: 160px;
        z-index: 1;
    }

    /* NEWS SLIDER */
    .news-slider-mobile {
        overflow: scroll;
        width: auto;
    }

    .news-projects-selection-mobile:nth-child(1) {
        margin-left: 220px;
    }

    .news-slider-mobile::-webkit-scrollbar {
        display: none;
    }

    .news-slider-mobile {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .news-project-row-mobile {
        display: revert;
        margin-right: -30000px;
        width: fit-content;
    }

    .news-projects-selection-mobile {
        position: relative;
        display: block;
        float: left;
        margin: 0 20px;
    }

    .news-projects-selection-mobile:nth-child(even) {
        z-index: 2;
    }

    .news-project-image-mobile img {
        width: 300px;
    }

    .news-project-text-mobile h5 {
        color: #fff;
    }

    .news-project-text-mobile p {
        color: #ccc;
    }

    .news-post-white-mobile {
        position: relative;
        background-color: #fff;
        width: 300px;
        height: 300px;
        z-index: 2;
    }

    .news-post-link-mobile img {
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin: auto;
        height: 60px;
        width: 60px !important;
    }

    .news-post-text-mobile {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 60%;
        text-align: center;
    }

    .news-post-link-tekst-mobile {
        color: #000;
        font-size: 35px;
        font-weight: 900;
    }

    /* Block 7 CAREER */
    .career {
        display: none;
    }

    .career-mobile {
        display: revert;
        text-align: center;
        margin: 17% 0;
    }

    .career-mobile h2 {
        font-size: 40px;
        font-weight: bold;
    }

    .career-text {
        text-align: center;
    }

    .career-mobile p {
        font-size: 18px;
        margin-top: 40px;
    }

    .career-img-mobile {
        width: 100%;
    }

    .career-img-mobile img {
        display: inline-block;
    }

    .career-media-mobile {
        margin-top: 50px;
        width: 100%;
        margin: 0;
    }

    .career-btn-link {
        margin-top: 5%;
        width: 100%;
    }

    /* MAP */
    .map-section-container {
        height: auto;
    }

    .map-section-container h2 {
        font-size: 45px;
    }

    /* contact */
    .contact-container {
        margin-top: 20%;
    }

    .contact-container h2 {
        font-size: 45px;
    }

    .contact-container p {
        font-size: 20px;
    }

    .contact-info input {
        font-size: 22px;
        border-bottom: 1.5px solid black;
        padding-bottom: 12px;
    }

    .contact-message button {
        font-size: 33px;
    }

    .social {
        margin-bottom: 10%;
    }

    /* FOOTER */
    .footer {
        text-align: center;
        font-weight: bold;
        margin-top: 20%;
    }

    .social i {
        margin: 15px;
        font-size: 40px;
    }

    .footer-text {
        margin-top: 20px;
        font-size: 27px;
        margin-bottom: 15;
    }

    .copyright p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .footer-text p {
        margin-bottom: 5%;
    }

    .footer hr {
        background: #000;
        height: 1.0px;
    }
}

/* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

@media screen and (max-width: 720px) {
    .career-img-mobile img {
        width: 100%;
    }

    .icons-mobile-grid img {
        width: 80px;
    }

    .icons-text-mobile {
        padding-top: 10%;
    }
}

/* -----------------------MEDIA QUERIES----------------------------------------------------------------------- */

@media screen and (max-width: 620px) {
    .header-text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40%;
        text-align: center;
        color: #fff;

        margin: auto;
    }

    .header-text h1 {
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    .header-text p {
        font-size: 14px;
        width: 100%;

    }


    .career-img-mobile img {
        width: 100%;
    }

    /* NEWS */
    .news-text-mobile h2 {
        top: 16%;
        left: 20%;
        font-size: 150px;
    }

    .news-projects-selection-mobile:nth-child(1) {
        margin-left: 100px;
    }
}

/* -----------------------MEDIA QUERIES-------------------------------------------------------------------------- */

@media screen and (max-width: 576px) {
    .map-section-container h5 {
        margin-bottom: 5%;
    }

    /* Icons */
    .icons-text-mobile {
        font-size: 23px;
    }

    .icons-mobile-grid img {
        width: 70px;
    }

    .icons-mobile-grid {
        padding: 30% 3%;
    }

    /* PROJECTS */
    .verticalSliderMobileSection {
        padding: 15% 0;
    }

    .projectTitle {
        position: absolute;
        margin: 0;
        top: 50%;
    }

    .projectDis {
        width: 75%;
        padding: 0;
        top: 70%;
    }

    .projects-desc-text-mobile h5 {
        font-size: 20px;
    }

    .projects-desc-text-mobile h1 {
        font-size: 50px;
    }

    .projects-desc-text-mobile p {
        font-size: 16px;
    }

    .projects-btn-mobile {
        margin: 0;
        left: 10%;
        bottom: 5%;
        line-height: 37px;
        height: 50px;
        width: 170px;
        font-size: 18px;
    }

    /* Clients */
    .clients h2 {
        font-size: 40px;
        margin-bottom: 90px;
    }

    /* Slider */
    .clients {
        padding: 30% 0 15%;
    }

    @-webkit-keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(calc(-298px * 6));
            transform: translateX(calc(-298px * 6));
        }
    }

    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(calc(-298px * 6));
            transform: translateX(calc(-298px * 6));
        }
    }

    .slider {
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .slider::after {
        right: 0;
        top: 0;
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }

    .slider .slide-track {
        -webkit-animation: scroll 10s linear infinite;
        animation: scroll 10s linear infinite;
        display: flex;
        width: calc(302px * 12);
    }

    .slides {
        display: block;
        float: left;
        width: 400px;
        height: 400px;
        border: 1px solid #aaaaaa;
        margin-top: 0;
    }

    .slides:nth-child(even) {
        display: block;
        float: left;
        width: 300px;
        height: 300px;
        margin: 50px -50px 0;
    }

    .slides img {
        width: 100px;
        margin: auto;
        display: table-cell;
        top: 50%;
        padding-top: 50%;
        margin-top: -50px;
    }

    /* Блок 6 – News (или Блог текстовите) */
    .news-container {
        height: auto;
    }

    .news-text h2 {
        font-size: 100px;
        top: 20%;
        left: 10%;
    }

    /* NEWS SLIDER */
    .news-slider {
        padding-top: 50px;
        margin-left: 0px;
    }

    .news-project-image img {
        width: 200px;
    }

    /* CAREER */
    .career-mobile {
        margin: 30% 0 15%;
    }

    .career {
        height: 600px;
        padding-top: 25px;
    }

    .career h2 {
        font-size: 40px;
    }

    .career p {
        font-size: 16px;
        width: 90%;
        margin-top: 25px;
    }

    .career-media {
        margin-top: 0px;
    }

    .career-img img {
        width: 230px;
        height: 230px;
        margin-top: 9%;
    }

    .career-btn-link {
        font-size: 16px;
    }

    .career-img-mobile img {
        width: 100%;
    }

    /* MAP */
    .map-section-container {
        margin: 30% 0 15%;
    }

    .map-section-container h2 {
        font-size: 40px;
    }



    /* contact */
    .contact-container {
        margin-top: 30%;
    }

    .contact-container h2 {
        font-size: 35px;
        margin-top: 10%;
    }

    .contact-container h6 {
        font-size: 26px;
        margin-top: 35px;
    }

    .contact-info input {
        font-size: 17px;
    }

    .contact-info input {
        border-bottom: 1.5px solid black;
        padding-bottom: 12px;
    }

    .contact-info input:focus {
        outline: none;
        border-bottom: 2px solid black;
    }

    .contact-message button {
        font-size: 20px;
    }

    .social {
        margin-bottom: 10%;
    }

    /* FOOTER */
    .footer {
        text-align: center;
        font-weight: bold;
        margin-top: 20%;
    }

    .social i {
        margin: 15px;
        font-size: 50px;
    }

    .footer-text {
        margin-top: 20px;
        font-size: 22px;
    }

    .copyright p {
        font-size: 12px;
        margin-bottom: 20px;
    }
}

/* -----------------------MEDIA QUERIES-------------------------------------------------------------------------- */

@media screen and (max-width: 510px) {
    .icons-option {
        height: 80px;
        width: 100%;
    }

    .icons-text {
        font-size: 17px;
        padding-top: 10%;
    }

    .icons-text-small {
        font-size: 14px;
    }

    .icons img {
        width: 45px;
    }

    /* NEWS  */
    .news-projects-selection-mobile:nth-child(1) {
        margin-left: 80px;
    }
}

/* -----------------------MEDIA QUERIES-------------------------------------------------------------------------- */

@media screen and (max-width: 490px) {

    /* Projects */
    .projectImgArc {
        height: 300px;
        width: 100%;
        overflow: hidden;
    }

    .projectImgCon {
        height: 300px;
        width: 100%;
        overflow: hidden;
    }

    .projectImgRea {
        height: 300px;
        width: 100%;
        overflow: hidden;
    }

    #carouselProjectsControls-mobile .carousel-control-next {
        top: 7%;
        left: 80%;
    }

    #carouselProjectsControls-mobile .carousel-control-prev {
        top: 7%;
        left: 65%;
    }

    .projectTitle {
        position: absolute;
        margin: 0;
        top: 42%;
    }

    .projectDis {
        width: 80%;
        padding: 0;
        top: 65%;
    }

    .projects-btn-mobile {
        left: 10%;
        bottom: 7%;
        margin: 0;
        line-height: 30px;
        height: 40px;
        width: 170px;
        font-size: 16px;
    }

    /* News */
    .news-container-mobile {
        padding: 45% 0;
    }

    .news-text-mobile h2 {
        top: 18%;
        left: 20%;
        font-size: 110px;
    }

    .news-project-image-mobile img {
        width: 240px;
    }

    .news-post-white-mobile {
        position: relative;
        background-color: #fff;
        width: 240px;
        height: 240px;
    }

    .news-post-link-mobile img {
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin: auto;
        height: 50px;
        width: 50px !important;
    }

    .news-post-text-mobile {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 60%;
        text-align: center;
    }

    .news-post-link-tekst-mobile {
        color: #000;
        font-size: 35px;
        font-weight: 900;
    }
}

/* -----------------------MEDIA QUERIES-------------------------------------------------------------------------- */


@media screen and (max-width: 410px) {

    /* Icons */
    .icons-text-mobile {
        font-size: 20px;
    }

    .icons-mobile-grid img {
        width: 60px;
    }

    .icons-text-small-mobile {
        font-size: 16px;
    }

    /* Projects */
    .projects-desc-mobile {
        min-height: 250px;
    }

    .projects-desc-text-mobile h5 {
        font-size: 18px;
    }

    .projects-desc-text-mobile h1 {
        font-size: 40px;
    }

    .projectImgArc {
        height: 250px;
        width: 100%;
        overflow: hidden;
    }

    .projectImgCon {
        height: 250px;
        width: 100%;
        overflow: hidden;
    }

    .projectImgRea {
        height: 250px;
        width: 100%;
        overflow: hidden;
    }

    .projectDis {
        top: 38%;
        width: 100%;
    }

    .projectTitle {
        margin: 0;
        top: 38%
    }

    .projectDis {
        padding: 0;
        width: 80%;
        top: 60%;
    }

    .projects-desc-text-mobile p {
        font-size: 14px;
    }

    .projects-btn-mobile {
        left: 5%;
        bottom: 10%;
        margin: 0;
        line-height: 30px;
        height: 40px;
        width: 160px;
        font-size: 16px;
    }

    /* News */
    .news-text-mobile h2 {
        top: 22%;
        left: 5%;
        font-size: 100px;
    }

    .news-slider-mobile {
        margin-left: 20px;
    }

    .news-project-image-mobile img {
        width: 200px;
    }

    .news-post-white-mobile {
        position: relative;
        background-color: #fff;
        width: 200px;
        height: 200px;
    }

    .news-post-link-mobile img {
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin: auto;
        height: 50px;
        width: 50px !important;
    }

    .news-post-text-mobile {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 60%;
        text-align: center;
    }

    .news-post-link-tekst-mobile {
        color: #000;
        font-size: 24px;
        font-weight: 900;
    }

    .news-projects-selection-mobile:nth-child(1) {
        margin-left: unset;
    }
}

@media screen and (max-width: 350px) {

    /* Icons */
    .icons-text-mobile {
        font-size: 14px;
    }

    .icons-mobile-grid img {
        width: 30px;
    }

    .icons-text-small-mobile {
        font-size: 12px;
    }
}


/* ALL BUTTONS CLASS */

.all-btn {
    background-color: #0062A3;
    color: #fff;
    padding: 8px 16px;
    border-radius: 32px;
    font-size: 20px;
    font-weight: 500;
    width: unset;
    height: unset;
    line-height: unset;
}

.all-btn:hover {
    color: #fff;
}

.all-btn:focus {
    box-shadow: none;
}