    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    html {
        overflow-x: hidden;
        scroll-behavior: smooth;
        overflow-y: overlay;
    }

    /* Scrollbar*/

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(90, 90, 90);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(139, 139, 139);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    /* Блок 1 – Logo & Header */

    .header {
        /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
        height: 100vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        /*eventualno da se proba --- https://chanind.github.io/javascript/2019/09/28/avoid-100vh-on-mobile-web.html
        ---- https://dev.to/admitkard/mobile-issue-with-100vh-height-100-100vh-3-solutions-3nae*/
    }

    .header {
        position: relative;
        text-align: center;
        background-image: url('../img/projects/van-hool.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* header background  */

    .parallax-img1 {
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: relative;
    }

    /* header logo */

    .langLogoMenu {
        position: absolute;
        width: 100%;
        top: 8%;
    }

    .logo,
    .logo-menu {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 8%;
    }

    .logo img,
    .logo-menu img {
        width: 144px;
        height: 35px;
        left: 0;
        right: 0;
        margin: auto;
    }

    /* LANGUAGE SELECTOR */

    .language-container-mobile {
        display: none;
    }

    .language-container {
        position: absolute;

        left: 5%;
    }

    .language-container:focus {
        outline: none;
        box-shadow: none;
    }

    .lang-btn:focus {
        outline: none;
        box-shadow: none;
    }

    .lang-btn {
        padding: 0 5px 0 0;
    }

    .lang-btn h5 {
        color: #ccc;
        margin: 0;
        font-size: 1rem;
    }

    .lang-btn:nth-child(1) {
        border-right: 2px solid #ccc;
        border-radius: 0;
    }

    /* meni ikonce - fiksirana za header */

    .bar1-fixed,
    .bar2-fixed,
    .bar3-fixed {
        width: 24px;
        height: 4px;
        background-color: #fff;
        margin: 3px 0;
        transition: 0.4s;
    }

    /* header text */

    .header-text {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 50%;
        text-align: center;
        color: #fff;
        margin: auto;
    }

    .header-text h1 {
        font-size: 90px;
        font-weight: 900;
        margin-bottom: 15px;
    }

    .header-text p {
        font-size: 21px;
        color: #cccccc;
    }

    /* header arrows - showing to scroll down */

    /* ARROWS TESTING */

    .scroll-down {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 20%;
        transition: transform 0.5s 1.5s, opacity 0.3s 1.7s, z-index 0.5s 1.5s;
        color: #fff;
        text-align: center;
    }

    .scroll-down.removed {
        transform: translateY(-20rem);
        opacity: 0;
        z-index: -10;
        transition: transform 0.5s, opacity 0.3s 0.2s, z-index 0.5s;
    }

    .scroll-down:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -3rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 1.25rem;
        height: 1.25rem;
        border: 0.25rem solid #fff;
        border-left: none;
        border-top: none;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        animation: arrowMove 1.2s infinite;
    }

    @keyframes arrowMove {
        to {
            transform: rotate(45deg) translateY(2rem) translateX(2rem);
            opacity: 0;
        }
    }

    @keyframes navArrowMove {
        to {
            transform: translateX(2rem);
            opacity: 0;
        }
    }

    /* FULL SCREEN WEB MENU */

    /* menu selection */

    .overlayWeb {
        display: none;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);

        z-index: 5;
    }

    .menu-container {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: table;
        width: 100%;
    }

    .menu {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    .rows {
        text-align: center;
    }

    .rows a {
        display: inline-block;
        width: 210px;
        height: 210px;
        border: 1px solid #ccc;
        text-decoration: none;
        color: inherit;
        margin: 25px 25px;
        text-align: center;
    }

    .rows a:hover {
        border: none;
    }

    .menu-option {
        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;
    }

    .menu-option h4 {
        font-size: 25px;
        font-weight: bold;
    }

    .h4Div {
        top: 40%;
        width: 100%;
        color: black;
        position: absolute;
    }

    .h4Div-correction {
        top: 35%;
    }

    .h4Div h4 {
        margin: auto;
    }

    @media (max-height: 769px) {
        .rows a {
            width: 160px;
            height: 160px;
            margin: 10px 10px;
        }

        .h4Div h4 {
            font-size: 19px;
        }
    }

    /* MENU ANIMATIONS */

    .menu-link {
        position: relative;
    }

    .menu-link:hover {
        cursor: pointer;
    }

    .menu-anim {
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    .menu-anim video {
        width: 100%;
        height: 100%;
    }

    /* Home button */

    .homeBtn {
        position: absolute;
        top: 8%;
        left: 5%;
    }

    .btn-home {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: #9D9D9D;
    }

    .btn-home:hover {
        color: #9D9D9D;
    }

    .btn-home:focus {
        box-shadow: none;
    }

    .homeBtn button:focus {
        outline: none;
    }

    .homeBtn button img {
        margin-right: 6px;
        margin-bottom: 3px;
    }

    /* menu icon web */

    .menu-icon-black {
        float: right;
    }

    .menu-icon-black:hover {
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
    }

    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .bar2 {
        opacity: 0;
    }

    .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-10px, -6px);
    }

    .menu-black {
        background-color: #000;
    }

    /* FULL SCREEN WEB MENU END */


    /* menu droping effect */

    .menu-icon-button {
        background: none;
        border: none;
    }

    .menu-icon-button:focus {
        outline: none;
    }

    .menu-icon-button:hover {
        cursor: pointer;
    }

    .menu-icon {
        cursor: pointer;
        position: absolute;
        top: 8%;
        right: 5%;
    }

    .menu-icon-mobile {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 8%;
        right: 5%;
    }

    .bar1-mobile,
    .bar2-mobile,
    .bar3-mobile {
        width: 24px;
        height: 4px;
        background-color: #fff;
        margin: 3px 0;
        transition: 0.4s;
    }

    .change .bar1-mobile {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2-mobile {
        opacity: 0;
    }

    .change .bar3-mobile {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-10px, -6px);
    }

    /* MENU overlay */

    .overlay {
        display: block;
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow-y: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 20%;
        text-align: center;
        width: fit-content;
        left: 0;
        right: 0;
        margin: auto;
    }

    .overlay .menu-link {
        padding: 8px;
        border-bottom: 1px solid black;
        font-size: 18px;
        font-weight: 900;
        color: #000;
        display: block;
        transition: 0.3s;
        margin: auto;
    }

    .overlay .menu-link:nth-child(9) {
        border-bottom: none;
    }

    .overlay .menu-link:hover,
    .overlay .menu-link:focus {
        text-decoration: none;
        color: #0062A3;
    }

    .overlay .closebtn {
        color: black;
        text-decoration: none;
        position: absolute;
        top: 16px;
        right: 20px;
        font-size: 55px;
    }

    /* MOBILE MENU HEIGHT RESPONSIVNES  */

    @media screen and (max-height: 525px) {
        .overlay-content {
            top: 15%;
        }

        .overlay .menu-link {
            padding: 6px;
            font-size: 16px;
        }
    }

    @media screen and (max-height: 480px) {
        .overlay {
            overflow: auto;
        }
    }


    @media screen and (max-height: 370px) {
        .overlay {
            overflow: auto;
        }

        .overlay-content {
            top: 35%;
        }
    }

    /* Block 2 Project Info */

    .project-info-container-web-text {
        margin: 120px 0;
        text-align: center;
    }

    .project-info-row {
        width: 100%;
        margin: 0;
    }

    .project-text-web {
        width: 80%;
        margin: auto;
    }

    .project-text-web p {
        font-size: 18px;
    }

    .project-info-container-web-table {
        text-align: center;
    }

    .project-table-column-web {
        width: 70%;
    }

    /* Block 2 Project Info - TABLE*/

    .project-table-web {
        width: 80%;
        margin: auto;
        font-size: 16px;
    }

    .project-table-web tr {
        border-bottom: 1px solid #ccc;
    }

    .project-table-web tr:last-child {
        border-bottom: none;
    }

    .project-table-web th {
        border-right: 2px solid #000;
        text-align: left;
        padding: 20px;
    }

    .project-table-web td {
        text-align: left;
        padding: 20px;
    }

    /* Block 2 Project Info - GALLERY*/

    .project-info-container-web-gallery {
        margin: 120px 0 150px;
        height: 450px;
        width: 100%;
    }

    .project-info-gallery-web {
        text-align: center;
    }

    .project-info-gallery-web img {
        height: 400px;
    }

    .projects-gallery-buttons {
        position: relative;
        margin-top: 3%;
    }

    .carousel-control-prev {
        left: 44%;
        height: 40px;
        width: 40px;
        border: 3px solid black;
        position: absolute;
        opacity: 1;
        margin-top: -4px;
    }

    .carousel-control-next {
        right: 44%;
        height: 40px;
        width: 40px;
        border: 3px solid black;
        position: absolute;
        opacity: 1;
        margin-top: -4px;
    }

    .num {
        color: #adadad;
    }

    #slidetext1 {
        color: #000;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        color: #000;
    }

    .carousel-control-prev img,
    .carousel-control-next img {
        height: 23px;
    }

    #slidetext {
        font-size: 26px;
        padding-top: 0 px;
    }

    /* SIMILAR PROJECTS */

    .similar-projects-web {
        margin-top: 5%;
    }

    .similar-project-row-mobile {
        display: none;
    }

    .similar-projects-web h2 {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 3%;
    }

    .construction-projects-container-mobile {
        display: none;
    }

    .similar-project-row {
        width: 100%;
        margin: 0;
    }

    .similar-projects-selection {
        display: inline-block;
        padding: 0;
    }

    /* gray image */

    /* https://codepen.io/codewithJahid/pen/JRPvBj */

    .similar-project-image img {
        width: 100%;
    }

    .similar-project-image img {
        filter: gray;
        -webkit-filter: grayscale(1);
    }

    .similar-project-image img:hover {
        filter: none;
    }

    .similar-project-text {
        margin-top: -102px;
        color: #fff;
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .similar-project-text h5 {
        font-size: 38px;
        font-weight: bold;
    }

    .similar-project-text p {
        font-size: 22px;
        color: #cccccc;
    }

    .similar-project-image a {
        text-decoration: none;
    }

    .similar-projects-button {
        text-align: center;
    }

    .similar-projects-btn {
        background-color: #0062A3;
        color: #fff;
        font-size: 22px;
        line-height: 50px;
        height: 65px;
        width: 280px;
        border-radius: 0px;
        margin-top: 3%;
    }

    .similar-projects-btn:hover {
        color: #fff;
    }

    /* FOOTER  */

    .footer {
        text-align: center;
        margin-top: 120px;
        font-size: 15px;
    }

    .footer hr {
        background: #000;
        height: 1px;
    }

    .copyright p {
        font-weight: bold;
        font-size: 12px;
    }

    .footer-link {
        cursor: pointer;
        text-decoration: underline;
        color: #000;
    }

    /*----------------------------------------------------------MEDIA QUERIES--------------------------------------*/

    @media (max-width: 1650px) {

        /* HEADER resize and reposition */
        .header-text {
            top: 40%;
        }

        .header-text h1 {
            font-size: 70px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 1300px) {

        /* AWARDS */
        .carousel-control-prev {
            left: 42%;
        }

        .carousel-control-next {
            right: 42%;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media (max-width: 1257px) {

        /* HEADER resize and reposition */
        .header-text {
            top: 35%;
        }

        .header-text h1 {
            font-size: 60px;
        }

        .overlay .closebtn {
            top: 2%;
            right: 4%;
        }

        .down-arrow-top {
            border-width: 0px 3px 3px 0;
            padding: 6px;
        }

        .down-arrow-middle {
            border-width: 0px 3px 3px 0;
            padding: 6px;
        }

        .down-arrow-bottom {
            border-width: 0px 3px 3px 0;
            padding: 6px;
        }

        /* project info resize and reposition */
        .project-text-web p {
            font-size: 17px;
        }

        /* TABLE */
        .project-table-web {
            font-size: 15px;
        }

        /* SIMILAR */
        .similar-project-text h5 {
            font-size: 30px;
        }

        .similar-projects-btn {
            font-size: 20px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------ */

    @media screen and (max-width: 1200px) {

        /* Block 2 - Menu */
        .rows a {
            width: 150px;
            height: 150px;
            margin: 10px 10px;
        }

        .h4Div {
            top: 48%;
        }

        .h4Div h4 {
            line-height: 0px;
            font-size: 18px;
        }

        .h4Div-correction {
            top: 33%;
        }

        .h4Div-correction h4 {
            line-height: 24px;
        }

    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 1191px) {

        /* AWARDS */
        .carousel-control-prev {
            left: 42%;
        }

        .carousel-control-next {
            right: 42%;
        }

        .similar-projects-web {
            margin-top: 16%;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media (max-width: 991px) {

        /* HEADER resize and reposition */
        /* LOGO */
        /*  .logo img,
        .logo-menu img {
            width: 200px;
            height: 50px;
        } */

        .header-text {
            top: 30%;
        }

        .header-text h1 {
            font-size: 45px;
        }

        .overlay a {
            padding: 4px;
            font-size: 18px;
        }

        .overlay .closebtn {
            top: 0%;
        }

        /* project info resize and reposition */
        .project-text-web p {
            font-size: 14px;
        }

        /* TABLE */
        .project-table-web {
            font-size: 14px;
        }

        .project-table-web th {
            padding: 9px;
        }

        .project-table-web td {
            padding: 9px;
        }

        /* GALLERY */
        .carousel-control-prev img,
        .carousel-control-next img {
            height: 20px;
        }

        .carousel-control-prev {
            height: 30px;
            left: 40%;
            height: 40px;
            width: 40px;
        }

        .carousel-control-next {
            height: 30px;
            right: 40%;
            height: 40px;
            width: 40px;
        }

        /* SIMILAR */
        .similar-project-text h5 {
            font-size: 27px;
        }

        .similar-project-text p {
            font-size: 16px;
        }

        .similar-projects-btn {
            font-size: 20px;
        }
    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media (max-width: 768px) {

        /* HEADER resize and reposition */
        .logo,
        .logo-menu {
            top: 10%;
        }

        .menu-icon {
            display: none;
        }

        .menu-icon-mobile {
            display: block;
        }

        /* LANGUAGE SELECTOR */
        .language-container {
            display: none;
        }

        .language-container-mobile {
            display: unset;
            margin-left: -10px;
        }

        .language-container-mobile:focus {
            outline: none;
            box-shadow: none;
        }

        .lang-btn-mobile:focus {
            outline: none;
            box-shadow: none;
        }

        .lang-btn-mobile {
            padding: 0 !important;
        }

        .lang-btn-mobile h5 {
            color: #ccc;
            margin: 0;
            font-size: 16px;
        }

        .lang-mk-mobile {
            padding: 0 6px 0 0;
        }

        .lang-btn-mobile:nth-child(1) {
            border-right: 2px solid #ccc;
            border-radius: 0;
        }

        .header-text p {
            font-size: 16px;
        }

        /* PROJECT INFO -resize */
        .project-text-column-web {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .project-text-web {
            width: 100%;
        }

        /* TABLE */
        .project-table-web {
            width: 100%;
            font-size: 14px;
        }

        .project-table-web th {
            padding: 5px;
        }

        .project-table-web td {
            padding: 5px;
        }

        /* GALLERY */
        .project-gallery-column-web {
            flex: 0 0 100%;
            max-width: 100%;
        }

        /* SIMILAR */
        .similar-project-row {
            display: none;
        }

        .container-flow-similar-slide {
            overflow: scroll;
            margin-left: 5px;
        }

        .container-flow-similar-slide::-webkit-scrollbar {
            display: none;
        }

        .container-flow-similar-slide {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        .similar-project-row-mobile {
            display: revert;
            margin-right: -30000px;
            width: fit-content;
        }

        .similar-projects-selection-mobile {
            position: relative;
            display: block;
            float: left;
            margin: 0px 10px;
        }

        .similar-project-image-mobile img {
            width: 300px;
        }

        .similar-projects-web h2 {
            font-size: 30px;
        }

        .similar-project-text h5 {
            font-size: 20px;
        }

        .similar-project-text p {
            font-size: 14px;
        }

        /* SIMILAR BUTTON */
        .similar-projects-btn {
            margin: 12% 0 14%;
            font-size: 32px;
            width: 80%;
        }

        /* FOOTER */
        .footer {
            font-weight: bold;
            font-size: 15px;
            margin-top: 60px;
        }


    }

    /* -----------------------MEDIA QUERIES------------------------------------------------------------------------ */

    @media screen and (max-width: 700px) {
        .carousel-control-prev {
            height: 30px;
            left: 28%;
            height: 35px;
            width: 35px;
        }

        .carousel-control-next {
            height: 30px;
            right: 28%;
            height: 35px;
            width: 35px;
        }
    }

    @media screen and (max-width: 576px) {

        /* HEADER - resize and reposition */
        /* LOGO  */
        /*      .logo img,
        .logo-menu img {
            width: 160px;
            height: 40px;
        } */

        /* Text */
        .header-text {
            top: 25%;
        }

        .header-text h1 {
            font-size: 30px;
        }

        .header-text p {
            font-size: 14px;
        }

        /* Block 2 - resize and reposition */
        /* table */
        .project-table-column-web {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .project-table-web th {
            padding: 10px;
        }

        .project-table-web td {
            padding: 10px;
        }

        /* GALLERY */
        .project-info-container-web-gallery {
            margin: 120px 0 130px
        }

        .projects-gallery-buttons {
            margin-top: 10%;
        }

        .carousel-control-prev {
            left: 28%;
        }

        .carousel-control-next {
            right: 28%;
        }

        #slidetext {
            font-size: 20px;
            padding-top: 0 px;
        }

        /* Block 3 - resize and reposition */
        .similar-projects-web {
            margin-top: 25%;
        }

        .similar-projects-web h2 {
            font-size: 26px;
        }

        .similar-project-image-mobile img {
            width: 230px;
        }

        /* SIMILAR BUTTON */
        .similar-projects-btn {
            font-size: 24px;
            line-height: 35px;
            height: 50px;
            margin: 15% 0 20%;
            width: 100%;
        }
    }

    /* ALL BUTTONS CLASS */

    .all-btn {
        background-color: #0062A3;
        color: #fff;
        padding: 8px 16px;
        border-radius: 32px;
        font-size: 20px;
        font-weight: 500;
        width: unset;
        height: unset;
        line-height: unset;
    }

    .all-btn:hover {
        color: #fff;
    }

    .all-btn:focus {
        box-shadow: none;
    }